
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>

<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Saúde</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/inicio/principal">Inicio</a></li>
                        <li>Saúde</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="blog-page">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="utf_blog_post">
                    <a href="#" class="utf_post_img"> <img src="~/Repository/images/saude/saude_01.jpg" alt=""> </a>
                    <div class="utf_post_content">

                        <h3><a href="#">Zambézia aponta melhorias no sector de saúde</a></h3>
                        <ul class="utf_post_text_meta">
                            <li>Feb 02, 2019 / 12:52 pm</li>
                            <li>By <a href="#">Tips</a> Admin</li>
                            <li><a href="#">5 Comentarios</a></li>
                        </ul>
                        <p>
                            A Direcção Provincial de Saúde da Zambézia aponta melhorias significativas no sector, mercê do investimento feito no quinquénio prestes a terminar. E manifesta pretensão de reduzir ainda mais mortalidade intra-hospitalar, ora nos 2,6 por cento.

                            Para o efeito, quadros da área, provenientes de toda a província, estão reunidos na cidade de Quelimane, no quinto conselho intra-hospitalar, que iniciou hoje e termina amanhã, para discutir formas de melhorar a qualidade e humanização dos serviços sanitários.

                            Dos 27 909 798 habitantes, Zambézia é a segunda província mais populosa do país, com 5 164 732 (18,5%). Em primeiro lugar está Nampula, com 5 758 920 (20,6%) pessoas, segundo o Censo 2017.

                            O director provincial de Saúde da Zambézia, Hidayat Kassim, fez saber que a taxa de mortalidade intra-hospitalar reduziu três por cento, em 2017, para 2,6%, em 2018. Os referidos óbitos são os que ocorrerem 48 horas depois de os pacientes terem dado entrada no hospital.<a href="#">[...]</a>
                        </p>
                        <a href="#" class="read-more">Ler mais <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

             
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="utf_pagination_container_part margin-bottom-70">
                            <nav class="pagination">
                                <ul>
                                    <li><a href="#"><i class="sl sl-icon-arrow-left"></i></a></li>
                                    <li><a href="#" class="current-page">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="sidebar right">


                    <div class="utf_box_widget margin-top-35 margin-bottom-75">
                        <h3><i class="sl sl-icon-folder-alt"></i> Categorias</h3>
                        <ul class="utf_listing_detail_sidebar">

                            <li><i class="fa fa-angle-double-right"></i> <a href="/inicio/Distritos">Distritos</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="/PubAcomodacao/Acomodacoes">Acomodações</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="/inicio/restaurantes">Restaurantes</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="/servico_taxi/listar">Taxis</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="#">Shop Mussika</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="#">Eventos</a></li>

                        </ul>
                    </div>





                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

