
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Embed</title>
</head>
<body oncontextmenu="return false">
    <div>
        <embed src="~/Repository/obras/@ViewBag.filename#toolbar=0" type="application/pdf" height="1300" width="100%">
       
    </div>
</body>
</html>
