@model ASP_Mussika.Models.MusicaViewModel
@{
    ViewBag.Title = "AssistirVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@media screen and  (min-width: 700px) {
        .video {
            width: 922px;
            height: 650px;
        }
    }
</style>

<div class="clearfix"></div>
<div class="container">
    <div class="row utf_sticky_main_wrapper">
        <div class="col-lg-12 col-md-12">
            <div id="utf_listing_location" class="utf_listing_section">
                <h3 class="utf_listing_headline_part margin-top-60 margin-bottom-40">Assistir Video: @Model.artista : @Model.titulo</h3>
                <div id="utf_single_listing_map_block">
                    <video class="video" width="360" height="200" controls controlsList="nodownload">
                        <source src="~/Repository/video/@Model.link" type="video/mp4">
                     
                        Your browser does not support the video tag.
                    </video>
                    @*<iframe class="col-md-12" src="@Model.link" height="650" allowfullscreen frameborder="0" style="border:0;"></iframe>*@
                </div>
            </div>

        </div>

    </div>
</div>


