@model ASP_Mussika.Models.cinema

@{
    ViewBag.Title = "criarSessao";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="add_utf_listing_section margin-top-45">
    <div class="utf_add_listing_part_headline_part">
        <h3><i class="sl sl-icon-tag"></i>Dados da Sessao</h3>
    </div>
    <div class="row with-forms">


        <div class="col-md-4">
            <h5>Data da Sessao<strong style="color:orangered">*</strong></h5>
            <input type="text" id="date-picker" placeholder="Select Date" readonly="readonly">
        </div>
        <div class="col-md-4">
            <h5>Hora<strong style="color:orangered">*</strong></h5>
            <input type="text" id="hora" placeholder="hora">
        </div>
        <div class="col-md-4">
            <h5>Preco Bilhete<strong style="color:orangered">*</strong></h5>
            <input type="text" id="preco" placeholder="Preco Bilhete">
        </div>
    </div>
  

    <div class="row with-forms">
        <div class="row with-forms">
            <div class="col-md-12">
                <h5>Descrição<strong style="color:orangered">*</strong></h5>
                <textarea name="descricao" cols="40" rows="7" id="descricao" placeholder="Descrição..." spellcheck="true"></textarea>
            </div>

        </div>

    </div>


</div>
<div class="add_utf_listing_section margin-top-45">
    <div class="utf_add_listing_part_headline_part">
        <h3><i class="sl sl-icon-docs"></i> Estado da sessao </h3>
    </div>
    <div class="checkboxes in-row amenities_checkbox">
        <ul>
            <li>
                <input id="check-g1" type="checkbox" name="check">
                <label for="check-g1">Sessao Inactiva</label>
            </li>
           
        </ul>
    </div>
</div>
<div class="row with-forms" style="margin-top:40px;">
    <div class="col-md-2">
        <button id="btnSalvar" style="margin-top:40px; margin-bottom:30px;" class="button btn-sm">Prosseguir</button>

    </div>
</div>

<script>
    $(function () {
        $('#date-picker').daterangepicker({
            "opens": "left",
            singleDatePicker: true,
            isInvalidDate: function (date) {
                var disabled_start = moment('09/02/2018', 'MM/DD/YYYY');
                var disabled_end = moment('09/06/2018', 'MM/DD/YYYY');
                return date.isAfter(disabled_start) && date.isBefore(disabled_end);
            }
        });
    });

    $('#date-picker').on('showCalendar.daterangepicker', function (ev, picker) {
        $('.daterangepicker').addClass('calendar-animated');
    });
    $('#date-picker').on('show.daterangepicker', function (ev, picker) {
        $('.daterangepicker').addClass('calendar-visible');
        $('.daterangepicker').removeClass('calendar-hidden');
    });
    $('#date-picker').on('hide.daterangepicker', function (ev, picker) {
        $('.daterangepicker').removeClass('calendar-visible');
        $('.daterangepicker').addClass('calendar-hidden');
    });

    function close_panel_dropdown() {
        $('.panel-dropdown').removeClass("active");
        $('.fs-inner-container.content').removeClass("faded-out");
    }
    $('.panel-dropdown a').on('click', function (e) {
        if ($(this).parent().is(".active")) {
            close_panel_dropdown();
        } else {
            close_panel_dropdown();
            $(this).parent().addClass('active');
            $('.fs-inner-container.content').addClass("faded-out");
        }
        e.preventDefault();
    });
    $('.panel-buttons button').on('click', function (e) {
        $('.panel-dropdown').removeClass('active');
        $('.fs-inner-container.content').removeClass("faded-out");
    });
    var mouse_is_inside = false;
    $('.panel-dropdown').hover(function () {
        mouse_is_inside = true;
    }, function () {
        mouse_is_inside = false;
    });
    $("body").mouseup(function () {
        if (!mouse_is_inside) close_panel_dropdown();
    });

    $("#btnSalvar").click(function () {

         if ($("#hora").val().trim().toLowerCase() == "") {

            informarErro("Informe a hora");
            throw new Error();
        }
        if ($("#preco").val().trim().toLowerCase() == "") {

            informarErro("Informe o preco do Bilhete");
            throw new Error();
        }

        salvar();
    })

    function salvar() {
        var content =  tinyMCE.activeEditor.getContent();
        $.LoadingOverlay("show");
        var model = new FormData();
        model.append('id_cinema', @Model.id);
        model.append('data', $("#date-picker").val());
        model.append('descricao', content.trim());
        model.append('preco', $("#preco").val());
        model.append('hora', $("#hora").val());
        model.append('inactivo', $("#check-g1").prop("checked"));
      



        $.ajax({
            method: "POST",
            url: "/Cinema/salvarSessao",
            data: model,
            processData: false,
            contentType: false,
        })
            .done(function (msg) {
                if (msg == "false") {

                    $.LoadingOverlay("hide", true);
                    informarErro("Nao foi possivel cadastrar esta Sessao");


                }
                else {
                    $.LoadingOverlay("hide", true);
                    location.href = '/Cinema/addFilme?id=' + msg;
                   

                }

            });
    }
</script>

