
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="headline_part centered margin-top-75"> Serviços Mussika</h3>
            </div>
        </div>
        <div class="row margin-bottom-60">
            <div class="col-md-4">

                <a href="/ServicoMussika/Academico" class="img-box" data-background-image="../Repository/images/MussikaServico/mussika_academico.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Mussika Académico </h4>
                        @*<span>@ViewBag.hospitais Encontrados</span>*@
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/ServicoMussika/Televisao" class="img-box" data-background-image="../Repository/images/MussikaServico/mussika_televisao.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Mussika Televisão</h4>
                        @*<span>@ViewBag.clinicas Encontrados</span>*@
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/ServicoMussika/AguaEnergia" class="img-box" data-background-image="../Repository/images/MussikaServico/agua-energia.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Mussika Água e Energia </h4>
                       
                    </div>
                </a>
            </div>


        </div>
    </div>

