
@{
    ViewBag.Title = "Televisao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="headline_part centered margin-top-75"> Pagamentos</h3>
            </div>
        </div>
        <div class="row margin-bottom-60">
            <div class="col-md-4">

                <a href="/Pagamento/Televisao" class="img-box" data-background-image="../Repository/images/MussikaServico/mussika_pagamento.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Dstv </h4>
                        @*<span>@ViewBag.hospitais Encontrados</span>*@
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Pagamento/Televisao" class="img-box" data-background-image="../Repository/images/MussikaServico/mussika_pagamento.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Zap</h4>
                        @*<span>@ViewBag.clinicas Encontrados</span>*@
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Pagamento/Televisao" class="img-box" data-background-image="../Repository/images/MussikaServico/mussika_pagamento.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Gotv</h4>
                        @*<span>@ViewBag.clinicas Encontrados</span>*@
                    </div>
                </a>
            </div>
           
            <div class="col-md-4">
                <a href="/Pagamento/Televisao" class="img-box" data-background-image="../Repository/images/MussikaServico/mussika_pagamento.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Startimes</h4>
                        @*<span>@ViewBag.clinicas Encontrados</span>*@
                    </div>
                </a>
            </div>
           


        </div>
    </div>

