
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProvedor.cshtml";
}


<div class="row">
    <a onclick="location.href='/acomodacao/Criar'" style="margin-left:20px; margin-top:30px" class="button gray">Nova Acomodacao</a>
</div>
<div class="row">
    
    <div class="col-md-10" >

        <div class="row with-forms">
            <div class="row" style="margin:20px 40px 20px 20px;">
                <table id="example" class="display" style="width:100%">
                    <thead style="background-color:#ff2222;">
                        <tr>
                            <th style="color:white">Codigo</th>
                            <th style="color:white">Acomodação </th>
                            <th style="color:white">Distrito</th>
                            <th style="color:white">Tipo</th>
                            <th style="color:white">Email</th>
                            <th style="color:white">Telefone</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Codigo</th>
                            <th>Acomodação</th>
                            <th>Distrito</th>
                            <th>Tipo Acomodação</th>
                            <th>Email</th>
                            <th>Telefone</th>
                        </tr>
                    </tfoot>
                </table>
            </div>


        </div>


    </div>
</div>

<script>

    $(function () {
        $('#example').DataTable({


            "scrollY": 400,
            "autoWidth": true,
            "scrollX": true,
            "lengthChange": false,
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "filter": true,
            "orderMulti": true,
            "ajax": {
                "url": "/ProvedorAcomodacao/carregarTabelaAcomodacaoByAjax",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "id" },


                { "data": "nome" },

                { "data": "nomeDistrito" },

                { "data": "nomeAcomodacaoTipo" },
                { "data": "email" },
                { "data": "telefone" },
                //{
                //    "data": "fotografia",
                //    "render": function (fotografia, type, full, meta) {

                //        return "<a href='javascript:mostrarFoto()'><img src='../Images/" + fotografia + "'class='img-responsive' style='width:50px;height:50px;' /></a>";
                //    }
                //},

            ],
            //Descricao
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                //$('td:eq(0)', nRow).html("<a href='javascript:ver('" + aData.id + "')' class='button gray'><i class='fa fa-eye'></i> Ver/Editar</a> ");
                $('td:eq(0)', nRow).html("<a href='javascript:void(0);' ><button type='button'style='background-color:#ff2222;color:white;border:none' id='ver' class='btn btn-icons btn-sm btn-primary'onclick=verQuartos('" + aData.id + "')>Quartos </button>|<button type='button'  id='editar'  class='btn btn-icons btn-sm btn-primary' onclick=editar('" + aData.id + "') > Editar</button></a>");
                //$('td:eq(1)', nRow).html("<a href='javascript:void(0);' ><button type='button' id='ver' class='btn btn-icons btn-sm btn-primary'onclick=verProduto('" + aData.id_produto + "')></button>|<button type='button'  id='editar' class='btn btn-icons btn-sm btn-primary' onclick=editar('" + aData.idproduto + "') ></button></a>");
                //$('td:eq(10)', nRow).html("<a href='javascript:void(0);' onclick=alert('" + aData.FuncionarioId + "')><button type='button' class='btn btn-icons btn-rounded btn-warning'><i class='fa fa-edit'></i></button></a>");
                //$('td:eq(3)', nRow).html("<a href='javascript:void(0);' onclick=apagar('" + aData.IdCategoria + "')><button type='button' class='btn btn-icons btn-rounded btn-danger'><i class='fa fa-trash'></i></button></a>");
                return nRow;
            },
        });
    });

    var verQuartos = function (id) {
        $.LoadingOverlay("show");

        // Hide it after 3 seconds
        setTimeout(function () {
            window.location.href = '/acomodacao/Quartos?id=' + id;
            $.LoadingOverlay("hide");

        }, 2000);

    }
    var editar = function (id) {
        $.LoadingOverlay("show");

        // Hide it after 3 seconds
        setTimeout(function () {
            window.location.href = '/acomodacao/EditarAcomodacao?id=' + id;
            $.LoadingOverlay("hide");

        }, 2000);

    }
</script>

