@model ASP_Mussika.Models.UsuarioViewModel

@{
    ViewBag.Title = "confirmarEmailAlteracaoSenha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="notification notice margin-top-100  margin-bottom-30 center">
                        <h2>Recuperação de Senha!</h2>
                        <h3>Email Enviado Para - <strong>@Model.usuario1</strong>, <strong>@Model.telefone</strong></h3>
                        <p style="color:black;">Copie e Cole o Codigo Recebibo no Campo abaixo pra Confirmar.</p>
                        <a class="close" href="#"></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="main_input_search_part gray-style margin-top-50 margin-bottom-10">
                        <div class="main_input_search_part_item">
                            <input style="font-size:25px;" type="text" id="campoCodigo" placeholder="Digite o Codigo" value="" />
                        </div>
                        <button id="btnConfirmar" class="button">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#campoCodigo').keypress(function (event) {
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    })
    $("#btnConfirmar").click(function () {
        debugger
        $.LoadingOverlay("show");
        setTimeout(function () {
            debugger
            var codigoUsuario = '@Model.cod_autenticao';
            var codigoFornecedido = $('#campoCodigo').val();
            if (codigoUsuario == codigoFornecedido) {
                $.LoadingOverlay("hide");
                //informarSucesso("Codigos Coincidem")
                location.href = '/Login/AlterarSenha?id='+@Model.idusario;
            } else {
                $.LoadingOverlay("hide");
                informarErro("Codigo Invalido, copie o codigo que recebeu no Email e cole no Campo Exibido");
            }

        }, 2000);


    })
</script>

