
@{
    ViewBag.Title = "provedorCriado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container margin-bottom-75">
        <div class="row">
            <div class="col-md-12">
                <div class="utf_booking_listing_confirmation_section">
                    <i class="sl sl-icon-check"></i>
                    <h2>Conta Criada com Sucesso!</h2>
                    <p>A equipa Mussika irá verificar as informações e activar a conta. Note que somente os provedores com contratos já assinados com o mussika podem usar a plataforma para fornecer serviços</p>
                    <a href="/inicio/principal" class="button margin-top-30">Ir para Pagina Inicial</a>
                </div>
            </div>
        </div>
    </div>

