
@{
    ViewBag.Title = "ProvedorInactivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container margin-bottom-75">
    <div class="row">
        <div class="col-md-12">
            <div class="utf_booking_listing_confirmation_section">
                <i class="sl sl-icon-check"></i>
                <h2>Conta Inactiva!</h2>
                <p>Use algum dos nossos contactos para pedir suporte!</p>
                <a href="/inicio/principal" class="button margin-top-30">Ir para Pagina Inicial</a>
            </div>
        </div>
    </div>
</div>


