<fieldset>
    <div class="row">
        <div class="col-md-4">
            <label>Nome:</label>
            <input type="text" placeholder="Name" value="" />
        </div>
        <div class="col-md-4">
            <label>Email:</label>
            <input type="text" placeholder="Email" value="" />
        </div>
        <div class="col-md-4">
            <label>Assunto:</label>
            <input type="text" placeholder="Subject" value="" />
        </div>
    </div>
    <div>
        <label>Comentário:</label>
        <textarea cols="40" placeholder="Escrever..." rows="3"></textarea>
    </div>
</fieldset>
