
@{
    ViewBag.Title = "eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="utf_listing_gallery_part" class="utf_listing_section">
    <div class="utf_listing_slider utf_gallery_container margin-bottom-0">
        <a href="images/single-listing-01.jpg" data-background-image="images/single-listing-01.jpg" class="item utf_gallery"></a>
        <a href="images/single-listing-02.jpg" data-background-image="images/single-listing-02.jpg" class="item utf_gallery"></a>
        <a href="images/single-listing-03.jpg" data-background-image="images/single-listing-03.jpg" class="item utf_gallery"></a>
        <a href="images/single-listing-04.jpg" data-background-image="images/single-listing-04.jpg" class="item utf_gallery"></a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">


            <h3 class="utf_listing_headline_part margin-top-30 margin-bottom-30"><b>Quelimane</b> - Acomodação </h3>

            <div class="listing_filter_block">
                <div class="col-md-2 col-xs-2">
                    <div class="utf_layout_nav"> <a href="listings_grid_with_sidebar.html" class="grid"><i class="fa fa-th"></i></a> <a href="#" class="list active"><i class="fa fa-align-justify"></i></a> </div>
                </div>
                <div class="col-md-10 col-xs-10">
                    <div class="sort-by utf_panel_dropdown sort_by_margin float-right">
                        <a href="#">Destination</a>
                        <div class="utf_panel_dropdown-content">
                            <input class="distance-radius" type="range" min="1" max="999" step="1" value="1" data-title="Select Range">
                            <div class="panel-buttons">
                                <button class="panel-apply">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="sort-by">
                        <div class="utf_sort_by_select_item sort_by_margin">
                            <select data-placeholder="Sort by Listing" class="utf_chosen_select_single">
                                <option>Sort by Listing</option>
                                <option>Latest Listings</option>
                                <option>Popular Listings</option>
                                <option>Price (Low to High)</option>
                                <option>Price (High to Low)</option>
                                <option>Highest Reviewe</option>
                                <option>Lowest Reviewe</option>
                                <option>Newest Listing</option>
                                <option>Oldest Listing</option>
                                <option>Random Listings</option>
                            </select>
                        </div>
                    </div>
                    <div class="sort-by">
                        <div class="utf_sort_by_select_item sort_by_margin">
                            <select data-placeholder="Categories:" class="utf_chosen_select_single">
                                <option>Categories</option>
                                <option>Restaurant</option>
                                <option>Health</option>
                                <option>Hotels</option>
                                <option>Real Estate</option>
                                <option>Fitness</option>
                                <option>Shopping</option>
                                <option>Travel</option>
                                <option>Shops</option>
                                <option>Nightlife</option>
                                <option>Events</option>
                            </select>
                        </div>
                    </div>
                    <div class="sort-by">
                        <div class="utf_sort_by_select_item utf_search_map_section">
                            <ul>
                                <li><a class="utf_common_button" href="#"><i class="fa fa-dot-circle-o"></i>Near Me</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <div class="utf_listing_section">

                        <div class="utf_pricing_list_section">
                            <h4>Lista de Eventos</h4>
                            <ul>
                                <li>
                                    <h5>Burger <sub class="ppl-offer label-light-success">20% Off</sub></h5>
                                    <p>Beef, Salad, Mayonnaise, Spicey Relish, Cheese</p>
                                   
                                </li>
                                <li>
                                    <h5>Goat Cheese Mousse</h5>
                                    <p>Caramelized Fig, Plums, Macadamia Nuts and Sorrel</p>
                                   
                                </li>
                                <li>
                                    <h5>Pizza <sub class="ppl-offer label-light-success">10% Off</sub></h5>
                                    <p>Cheddar Cheese, Lettuce, Tomato, Onion, Dill Pickles</p>
                                   
                                </li>
                                <li>
                                    <h5>French Crostini <sub class="ppl-offer label-light-success">10% Off</sub></h5>
                                    <p>Breakfast Sandwich on a Roll with 2 Eggs</p>
                                  
                                </li>
                                <li>
                                    <h5>Caramelised Rum Punch <sub class="ppl-offer label-light-success">15% Off</sub></h5>
                                    <p>Caramelised Mount Gay Eclipse with a Picked Watermelon</p>
                                   
                                </li>


                            </ul>
                        </div>

                    </div>

                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="utf_pagination_container_part margin-top-20 margin-bottom-70">
                        <nav class="pagination">
                            <ul>
                                <li><a href="#"><i class="sl sl-icon-arrow-left"></i></a></li>
                                <li><a href="#" class="current-page">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        @Html.Partial("~/Views/distritos/Partials/_RightSideBar.cshtml")
    </div>
</div>
