
@{
    ViewBag.Title = "InternalServerError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>

@*<div id="titlebar" class="gradient notfound_mr_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Internal Server Error</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/inicio/principal">Inicio</a></li>
                        <li>Internal Server Error</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>*@

<div class="not_found_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section id="not-found" class="center">
                    <h2  style="color:red">500</h2>
                    <p>Internal Server Error!</p>
                    <div class="utf_error_description_part utf_ferror_description"> <strong class="f-primary animated v fadeInLeft">Ops,Servidor parou de responde</strong> <span class="f-primary animated v fadeInRight">Tente mais uma vez actualizando a pagina ou solicite uma Assistencia.</span> </div>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            @*<div class="main_input_search_part gray-style margin-top-50 margin-bottom-10">
                                    <div class="main_input_search_part_item">
                                        <input type="text" placeholder="Enter your keyword" value="" />
                                    </div>
                                    <button class="button">Search</button>
                                </div>*@
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
