
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>

@*<div id="titlebar" class="gradient notfound_mr_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Pagina Nao Encontrada</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/inicio/principal">Home</a></li>
                        <li>Pagina Nao Encontrada</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>*@

<div class="not_found_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section id="not-found" class="center">
                    <h2>404</h2>
                    <p>Pagina Nao Encontrada !</p>
                    <div class="utf_error_description_part utf_ferror_description"> <strong class="f-primary animated v fadeInLeft">Desculpa, Esta Pagina nao Existe</strong> <span class="f-primary animated v fadeInRight">O Link que clicou podera estar corrompido, ou a pagina foi Removida.</span> </div>
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            @*<div class="main_input_search_part gray-style margin-top-50 margin-bottom-10">
                                <div class="main_input_search_part_item">
                                    <input type="text" placeholder="Enter your keyword" value="" />
                                </div>
                                <button class="button">Search</button>
                            </div>*@
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


