
@{
    ViewBag.Title = "AssistirLive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v8.0&appId=2185688598396993&autoLogAppEvents=1" nonce="zne3F12N"></script>
<div class="clearfix"></div>

<div class="container">
    <div class="row utf_sticky_main_wrapper">
        <div class="col-lg-12 col-md-12">
            <div id="utf_listing_location" class="utf_listing_section">
                <h3 class="utf_listing_headline_part margin-top-60 margin-bottom-40">Assistir Live: Tardes em casa(Edição Especial) alusivo ao dia da cidade de Quelimane</h3>
                <div id="utf_single_listing_map_block">
                    <div class="fb-video" data-href="https://www.facebook.com/tvmiramar.mz/videos/1005172773256613/" data-show-text="false" data-width=""><blockquote cite="https://developers.facebook.com/tvmiramar.mz/videos/1005172773256613/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/tvmiramar.mz/videos/1005172773256613/"></a><p></p>Publicado por <a href="https://www.facebook.com/tvmiramar.mz/">TV Miramar</a> em Quinta-feira, 20 de agosto de 2020</blockquote></div>
                    <div class="clearfix"></div>
                </div>
            </div>





        </div>



    </div>
</div>
