
@{
    ViewBag.Title = "PagamentoSucesso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container margin-bottom-75">
    <div class="row">
        <div class="col-md-12">
            <div class="utf_booking_listing_confirmation_section">
                <i class="sl sl-icon-check"></i>
                <h2>Pagamento Efectuado com Sucessso!</h2>
                <p>Em breve vai receber um Email/Mensagem com o respectivo link da Factura!</p>
             
                    <a href="/inicio/principal" class="button margin-top-30">Pagina Inicial</a>
                

            </div>
        </div>
    </div>
</div>

