@model ASP_Mussika.Models.loja

@{
    ViewBag.Title = "criar";
    Layout = "~/Views/Shared/_LayoutProvedor.cshtml";
}

<div class="clearfix"></div>

    <div class="add_utf_listing_section margin-top-45">
        <div class="utf_add_listing_part_headline_part">
            <h3><i class="sl sl-icon-tag"></i>Dados da Loja</h3>
        </div>
        <div class="row with-forms">
            <div class="col-md-4">
                <div class="col-md-12" id="divRestaurante">
                    <h5>Nome da Loja<strong style="color:orangered">*</strong></h5>
                    <input type="text" class="search-field" name="nomeRestaurante" id="nomeRestaurante" placeholder="Loja" value="">
                </div>

            </div>

            <div class="col-md-4">

                <h5>Distrito<strong style="color:orangered">*</strong></h5>
                @Html.DropDownListFor(m => m.id_distrito, ViewBag.distritos as SelectList, "--seleccione um Distrito--", new { @class = "utf_chosen_select_single btn btn-mini", @style = "width: 100%;", @id = "nome", @name = "id" })

            </div>
            <div class="col-md-4">
                <h5>Tipo Loja<strong style="color:orangered">*</strong></h5>
                @Html.DropDownListFor(m => m.id_tipo_loja, ViewBag.tipo as SelectList, "--seleccione um Tipo--", new { @class = "utf_chosen_select_single btn btn-mini", @style = "width: 100%;", @id = "descricao", @name = "id" })

            </div>
        </div>
        <div class="row with-forms">
            <div class="col-md-4">
                <h5>Localização:</h5>
                <input type="text" name="endereco" id="endereco" placeholder="Localização..." value="">
            </div>
            <div class="col-md-4">
                <h5>Telefone</h5>
                <input type="text" name="telefone" id="telefone" placeholder="Telefone..." value="">
            </div>
            <div class="col-md-4">
                <h5>Email</h5>
                <input type="text" name="email" id="email" placeholder="Email..." value="">
            </div>
        </div>

    </div>

    <div class="add_utf_listing_section margin-top-45">
        <div class="utf_add_listing_part_headline_part">
            <h3><i class="sl sl-icon-picture"></i> Descrição</h3>
        </div>
        <div class="row with-forms">
            <div class="col-md-12">
                <h5>Descrição</h5>
                <textarea name="descricao" cols="40" rows="3" id="descricao1" placeholder="Descrição..." spellcheck="true"></textarea>
            </div>

        </div>
        <button id="btnSalvar" style="margin-top:40px; margin-bottom:30px;" class="button btn-sm">Prosseguir</button>
    </div>




   


<script>

    $('#telefone').keypress(function (event) {
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    })

    $("#btnSalvar").click(function () {

        $.LoadingOverlay("show");
        verficarForm();
    })

    function verficarForm() {

        if ($("#nomeRestaurante").val() === '') {
            $.LoadingOverlay("hide", true);
            informarErro("Por favor informe o nome da Loja");

            throw new Error("nomeRestauranteInvalido");
        }

        if ($("#nome").val().trim() == '') {
            $.LoadingOverlay("hide", true);
            informarErro("Por favor informe o distrito");

            throw new Error("nomeDistritoInvalido");
        }
        if ($("#descricao").val().trim() == '') {
            $.LoadingOverlay("hide", true);
            informarErro("Por favor informe o tipo de Loja ");

            throw new Error("nomeDistritoInvalido");
        }
    }




    $("#btnSalvar").click(function () {
        debugger

        var content = tinyMCE.activeEditor.getContent();
        $.LoadingOverlay("show");
        var model = new FormData();
        model.append('nome', $("#nomeRestaurante").val());
        model.append('id_distrito', $("#nome").val());
        model.append('id_tipo_loja', $("#descricao").val());

        model.append('bairro', $("#endereco").val());
        model.append('telefone', $("#telefone").val());
        model.append('email', $("#email").val());
        //model.append('website', $("#website").val());
        //model.append('mapa', $("#linkMapa").val());
        model.append('descricao', content.trim());



        $.ajax({
            method: "POST",
            url: "/Loja/Salvar",
            data: model,
            processData: false,
            contentType: false,
        })
            .done(function (msg) {
                if (msg == "false") {

                    $.LoadingOverlay("hide", true);
                    informarErro("Nao foi possivel cadastrar esta Loja");


                }
                else {
                    $.LoadingOverlay("hide", true);
                    location.href = '/Loja/CarregarFotos?id=' + msg;
                    $('.with-forms').find("input[type=text], textarea").val("");
                    //Dropzone.forElement('#filedrop').removeAllFiles(true)
                    podeCadastrar = false;
                }

            });




    });
</script>

