
@{
    ViewBag.Title = "academicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="headline_part centered margin-top-75"> Eventos Académicos</h3>
            </div>
        </div>
        <div class="row margin-bottom-60">

            
            <div class="col-md-4">
                <a href="/Eventos/Index?categoria=Congresso" class="img-box" data-background-image="../Repository/images/eventos/eventosdiversos.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Congresso</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Eventos/Index?categoria=Simpósio" class="img-box" data-background-image="../Repository/images/eventos/eventosdiversos.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Simpósio</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Eventos/Index?categoria=Colóquio" class="img-box" data-background-image="../Repository/images/eventos/eventosdiversos.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Colóquio</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Eventos/Index?categoria=Fórum" class="img-box" data-background-image="../Repository/images/eventos/eventosdiversos.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Fórum</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Eventos/Index?categoria=Mesa Redonda" class="img-box" data-background-image="../Repository/images/eventos/eventosdiversos.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Mesa Redonda</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Eventos/Index?categoria=Outro" class="img-box" data-background-image="../Repository/images/eventos/eventosdiversos.jpg">
                    <div class="utf_img_content_box visible">
                        <h4>Outro</h4>
                    </div>
                </a>
            </div>




        </div>
    </div>

