
@{
    ViewBag.Title = "categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 centered">
                <a href="/Eventos/CriarSolicitacao" onclick="location.href = '/Eventos/CriarSolicitacao'" class=" margin-left-35 button border sign-in popup-with-zoom-anim"><i class="fa fa-sign-in"></i> Solicitar Cadastro de Evento</a>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="headline_part centered margin-top-40"> Procure por Categorias</h3>
            </div>
        </div>
        <div class="row margin-bottom-60">

            <div class="col-md-4">

                <a href="/Eventos/Index?categoria=Espectaculos" class="img-box" data-background-image="../Repository/images/eventos/espetaculos.png">
                    <div class="utf_img_content_box visible">
                        <h4>Espetáculos  </h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Eventos/academicos" class="img-box" data-background-image="../Repository/images/eventos/eventosAcademicos.png">
                    <div class="utf_img_content_box visible">
                        <h4>Eventos Académicos</h4>
                    </div>
                </a>
            </div>





        </div>
    </div>

