<div class="col-lg-4 col-md-4 margin-top-75 sidebar-search">
    <div class="utf_box_widget margin-top-35">
        <h3><i class="sl sl-icon-folder-alt"></i> Páginas</h3>
        <ul class="utf_listing_detail_sidebar">
            <li><i class="fa fa-angle-double-right"></i> <a href="#">Distritos</a></li>
            <li><i class="fa fa-angle-double-right"></i> <a href="#">Serviços</a></li>
            <li><i class="fa fa-angle-double-right"></i> <a href="#">Bens</a></li>
            <li><i class="fa fa-angle-double-right"></i> <a href="#">Música</a></li>
            <li><i class="fa fa-angle-double-right"></i> <a href="#">Arte & Cultura</a></li>
            <li><i class="fa fa-angle-double-right"></i> <a href="#">Eventos</a></li>
            <li><i class="fa fa-angle-double-right"></i> <a href="#">Aluguer de Viaturas</a></li>
            <li><i class="fa fa-angle-double-right"></i> <a href="#">Taxi</a></li>
        </ul>
    </div>
</div>