
@{
    ViewBag.Title = "EditarBeneficio";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="add_utf_listing_section margin-top-45">
    <div class="utf_add_listing_part_headline_part">
        <h3><i class="sl sl-icon-picture"></i> Vantagem/Beneficio</h3>
    </div>
    <div class="row with-forms">
        <div class="col-md-12">
            <div class="col-md-4">
                <h5>nome</h5>
                <input type="text" class="search-field" name="nome" id="nome" placeholder="Ex: Video Spot..." value="@ViewBag.nome_item">
            </div>
            <div class="col-md-4 checkboxes in-row amenities_checkbox">
                <ul>
                    <li>
                        <input id="check-g1" type="checkbox" name="check">
                        <label for="check-g1">Beneficio Activo</label>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="row with-forms" style="margin-top:40px;">
    <div class="col-md-2">
        <button id="btnSalvar" style="margin-top:40px; margin-bottom:30px;" class="button btn-sm">Salvar Dados</button>

    </div>
</div>

<script>
     $(document).ready(function () {
        $("#check-g1").prop("checked",@ViewBag.activo.ToString().ToLower())

    });
     $("#btnSalvar").click(function () {

        if ($("#nome").val().trim() == '') {
            informarErro("Por favor informe o Beneficio");
            throw new Error("");
        }


        salvar();
    })

    function salvar() {
        debugger

        $.LoadingOverlay("show");
        var model = new FormData();
        var id=@ViewBag.id_pacote;

        model.append('item_nome', $("#nome").val());
        model.append('activo', $("#check-g1").prop("checked"));
        model.append('id_item', '@ViewBag.id');
        model.append('id_pacote_subscricao', '@ViewBag.id_pacote');


        $.ajax({
            method: "POST",
            url: "/Publicidade/SalvarAlteracoes",
            data: model,
            processData: false,
            contentType: false,
        })
            .done(function (msg) {
                if (msg == "false") {

                    $.LoadingOverlay("hide", true);
                    informarErro("Nao foi possivel cadastrar estes dados");


                } else if (msg == "existe") {
                    $.LoadingOverlay("hide", true);
                    informarErro("Este Pacote ja existe!");
                } else {

                     $.LoadingOverlay("hide", true);
                    location.href = '/Publicidade/addItensPacote?id=' + msg;
                    $('.with-forms').find("input[type=text], textarea").val("");
                }
            });




    }
</script>

