
@{
    ViewBag.Title = "confirmacao_booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="clearfix"></div>

<div class="container margin-bottom-75">
    <div class="row">
        <div class="col-md-12">
            <div class="utf_booking_listing_confirmation_section">
                <i class="sl sl-icon-check"></i>
                <h2>Obrigado pela sua reserva!</h2>
                <p>Você receberá uma confirmação através do e-mail <a href="#">booking@mussika.co.mz</a></p>
                <a href="/acomodacao/factura" class="button margin-top-30">Verificar Factura</a>
            </div>
        </div>
    </div>
</div>