USE [master]
GO
/****** Object:  Database [mussika_bd]    Script Date: 17-03-2020 6:48:23 PM ******/
CREATE DATABASE [mussika_bd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mussika_bd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\mussika_bd.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mussika_bd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\mussika_bd_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mussika_bd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mussika_bd]
GO
/****** Object:  Table [dbo].[acomodacao]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acomodacao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[endereco] [nvarchar](max) NULL,
	[telefone] [nvarchar](50) NULL,
	[email] [nvarchar](max) NULL,
	[descricao] [text] NULL,
	[foto_capa] [nvarchar](max) NULL,
	[website] [nvarchar](max) NULL,
	[mapa] [text] NULL,
	[id_acomodacao_tipo] [int] NULL,
	[id_distrito] [int] NULL,
	[Inactivo] [bit] NULL,
 CONSTRAINT [PK_acomodacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[acomodacao_classificacao]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acomodacao_classificacao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_acomodacao] [bigint] NULL,
	[classificacao] [int] NULL,
	[usuario_nome] [nvarchar](50) NULL,
	[usuario_email] [nvarchar](50) NULL,
	[usuario_assunto] [nvarchar](50) NULL,
	[comentario] [nvarchar](max) NULL,
	[foto] [nvarchar](max) NULL,
	[data_cadastro] [datetime] NULL,
	[id_usuario] [bigint] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_acomodacao_classificacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[acomodacao_comentario]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acomodacao_comentario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_acomodacao] [bigint] NULL,
	[id_usuario] [bigint] NULL,
	[data] [datetime] NULL,
	[valido] [bit] NULL,
	[comentario] [nvarchar](max) NULL,
	[nomeUsuario] [nvarchar](200) NULL,
	[email] [nvarchar](150) NULL,
	[assunto] [nvarchar](200) NULL,
 CONSTRAINT [PK_acomodacao_comentario_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[acomodacao_disponibilidade]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acomodacao_disponibilidade](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_acomodacao_quarto] [bigint] NULL,
	[checkin] [date] NULL,
	[checkout] [date] NULL,
	[quantidade] [int] NULL,
 CONSTRAINT [PK_acomodacao_disponibilidade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[acomodacao_foto]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acomodacao_foto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_acomodacao] [bigint] NULL,
	[caminho] [nvarchar](max) NULL,
 CONSTRAINT [PK_acomodacao_foto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[acomodacao_quarto]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acomodacao_quarto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_acomodacao] [bigint] NULL,
	[descricao] [nvarchar](50) NULL,
	[hospedes] [int] NULL,
	[custo_diaria] [money] NULL,
	[quantidade] [int] NULL,
	[foto_capa] [nvarchar](max) NULL,
	[chk_ac] [bit] NULL,
	[chk_parqueamento] [bit] NULL,
	[chk_televisao] [bit] NULL,
	[chk_geleira] [bit] NULL,
	[chk_wifi] [bit] NULL,
	[chk_minibar] [bit] NULL,
	[quarto_foto] [nvarchar](250) NULL,
	[Inactivo] [bit] NULL,
	[observacoes] [nvarchar](max) NULL,
 CONSTRAINT [PK_acomodacao_quarto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[acomodacao_reserva]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acomodacao_reserva](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_acomodacao_quarto] [bigint] NULL,
	[data_reserva] [datetime] NULL,
	[checkin] [datetime] NULL,
	[checkout] [datetime] NULL,
	[preco] [float] NULL,
	[iva] [float] NULL,
	[total] [float] NULL,
	[nome_hospede] [nvarchar](50) NULL,
	[apelido_hospede] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[telefone] [nvarchar](50) NULL,
	[endereco] [nvarchar](max) NULL,
	[confirmado] [bit] NULL,
	[cancelado] [bit] NULL,
 CONSTRAINT [PK_acomodacao_reserva] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[acomodacao_servico]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acomodacao_servico](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](max) NULL,
	[id_acomodacao] [bigint] NULL,
 CONSTRAINT [PK_acomodacao_servicos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[acomodacao_tipo]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acomodacao_tipo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK_acomodacao_tipo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[artigo]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[artigo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NULL,
	[id_categoria_artigo] [int] NULL,
	[nome] [nvarchar](max) NULL,
	[descricao] [text] NULL,
	[marca_registada] [bit] NULL,
	[atracao_internacional] [bit] NULL,
	[preco_min] [money] NULL,
	[preco_max] [money] NULL,
	[preco_venda] [money] NULL,
	[observacoes] [nvarchar](max) NULL,
	[portofolio] [text] NULL,
	[genero] [nvarchar](50) NULL,
	[e_servico] [bit] NULL,
	[foto_capa] [nvarchar](max) NULL,
	[id_distrito] [int] NULL,
	[bairro] [varchar](50) NULL,
	[clicks] [bigint] NULL,
	[data_cadastro] [datetime] NULL,
	[Inactivo] [bit] NULL,
 CONSTRAINT [PK_artigo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[artigo_imagem]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[artigo_imagem](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_artigo] [bigint] NULL,
	[caminho] [nvarchar](max) NULL,
 CONSTRAINT [PK_artigo_imagem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[artista_obra]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[artista_obra](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](200) NULL,
	[descricao] [text] NULL,
	[fotografia] [nvarchar](200) NULL,
	[id_distrito] [int] NULL,
	[telefone] [varchar](50) NULL,
	[e_musico] [bit] NULL,
 CONSTRAINT [PK_artista_obra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[carrinho_compra]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[carrinho_compra](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NULL,
	[e_restaurante] [bit] NULL,
	[e_artigo] [bit] NULL,
	[e_acomodacao] [bit] NULL,
	[e_taxi] [bit] NULL,
	[id_restaurante] [bigint] NULL,
	[id_acomodacao] [bigint] NULL,
	[id_quarto] [bigint] NULL,
	[id_artigo] [bigint] NULL,
	[id_taxi] [bigint] NULL,
	[activo] [bit] NULL,
	[data_cadastro] [datetime] NULL,
	[descricao] [varchar](max) NULL,
	[e_obra] [bit] NULL,
	[id_obra] [bigint] NULL,
	[e_musica] [bit] NULL,
	[id_musica] [bigint] NULL,
	[e_loja_produto] [bit] NULL,
	[id_loja_produto] [bigint] NULL,
	[e_farmacia_produto] [bit] NULL,
	[id_farmacia_produto] [bigint] NULL,
	[e_Filme] [bit] NULL,
	[id_filme] [bigint] NULL,
 CONSTRAINT [PK_carrinho_compra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[categoria_artigo]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria_artigo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](50) NULL,
 CONSTRAINT [PK_tipo_artigo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[categoria_cultura]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria_cultura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](50) NULL,
 CONSTRAINT [PK_tipo_cultura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[categoria_obra_arte]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[categoria_obra_arte](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](50) NULL,
	[fotografia] [varchar](100) NULL,
 CONSTRAINT [PK_categoria_obra_arte] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cinema]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cinema](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_distrito] [int] NULL,
	[nome] [varchar](200) NULL,
	[localizacao] [varchar](200) NULL,
	[descricao] [text] NULL,
	[inactivo] [bit] NULL,
	[foto_capa] [varchar](200) NULL,
 CONSTRAINT [PK_cinema] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[clinica]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clinica](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_distrito] [int] NULL,
	[descricao] [text] NULL,
	[nome] [varchar](300) NULL,
	[bairro] [varchar](300) NULL,
	[telefone] [varchar](50) NULL,
	[foto_capa] [varchar](200) NULL,
	[inactivo] [bit] NULL,
	[email] [varchar](200) NULL,
	[data_cadastro] [datetime] NULL,
 CONSTRAINT [PK_clinica] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[distrito]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[distrito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NULL,
	[nome] [nvarchar](50) NULL,
	[foto_capa] [nvarchar](max) NULL,
	[linkmapa] [text] NULL,
	[descricao] [text] NULL,
	[activar_galeria] [bit] NULL,
	[area] [nvarchar](50) NULL,
	[populacao] [nvarchar](50) NULL,
	[longitude] [varchar](50) NULL,
	[latitude] [varchar](50) NULL,
	[visitas] [bigint] NULL,
 CONSTRAINT [PK_distrito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[distrito_classificacao]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[distrito_classificacao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_distrito] [int] NULL,
	[id_usuario] [bigint] NULL,
	[e_like] [bit] NULL,
	[data_cadastro] [datetime] NULL,
	[activo] [bit] NULL,
	[nomeUsuario] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[assunto] [varchar](100) NULL,
	[estrelas] [int] NULL,
 CONSTRAINT [PK_distrito_classificacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[distrito_comentario]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[distrito_comentario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_distrito] [int] NULL,
	[id_usuario] [bigint] NULL,
	[comentario] [nvarchar](max) NULL,
	[data] [datetime] NULL,
	[valido] [bit] NULL,
	[nomeUsuario] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[assunto] [varchar](50) NULL,
 CONSTRAINT [PK_distrito_comentario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[distrito_foto]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distrito_foto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_distrito] [int] NULL,
	[caminho] [nvarchar](max) NULL,
 CONSTRAINT [PK_distrito_foto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[empresa]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](max) NULL,
	[telefone] [varchar](50) NULL,
	[website] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[endereco] [varchar](100) NULL,
	[seguranca] [nvarchar](max) NULL,
	[como_pagar] [nvarchar](max) NULL,
 CONSTRAINT [PK_empresa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[entidade_cultural]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entidade_cultural](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_categoria_cultura] [int] NULL,
	[nome] [nvarchar](50) NULL,
	[origem] [nvarchar](50) NULL,
	[praticantes] [nvarchar](50) NULL,
	[publico] [nvarchar](50) NULL,
	[modalidade] [nvarchar](50) NULL,
	[conhecidaanivel] [nvarchar](50) NULL,
	[impacto] [nvarchar](50) NULL,
	[publicado] [nvarchar](50) NULL,
 CONSTRAINT [PK_entidade_cultural] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[evento]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[evento](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](200) NULL,
	[data_cadastro] [datetime] NULL,
	[data_evento] [datetime] NULL,
	[descricao] [text] NULL,
	[foto_capa] [varchar](200) NULL,
	[id_distrito] [int] NULL,
	[local] [varchar](200) NULL,
	[inactivo] [bit] NULL,
	[adiado] [bit] NULL,
	[realizado] [bit] NULL,
	[id_categoria] [int] NULL,
 CONSTRAINT [PK_eventos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[evento_categoria]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[evento_categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NULL,
 CONSTRAINT [PK_evento_categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[evento_comentario]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[evento_comentario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_evento] [bigint] NULL,
	[id_usuario] [bigint] NULL,
	[data_cadastro] [datetime] NULL,
	[valido] [bit] NULL,
	[comentario] [text] NULL,
	[nomeUsuario] [varchar](200) NULL,
	[email] [varchar](200) NULL,
	[assunto] [varchar](200) NULL,
 CONSTRAINT [PK_evento_comentario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[farmacia]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[farmacia](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_distrito] [int] NULL,
	[nome] [varchar](200) NULL,
	[bairro] [varchar](200) NULL,
	[descricao] [text] NULL,
	[telefone] [varchar](200) NULL,
	[foto_capa] [varchar](200) NULL,
	[inactivo] [bit] NULL,
	[email] [varchar](200) NULL,
	[data_cadastro] [datetime] NULL,
 CONSTRAINT [PK_farmacia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[farmacia_produto]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[farmacia_produto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_farmacia] [bigint] NULL,
	[nome] [varchar](100) NULL,
	[descricao] [text] NULL,
	[preco_venda] [decimal](18, 2) NULL,
	[foto_capa] [varchar](100) NULL,
	[data_cadastro] [datetime] NULL,
	[inactivo] [bit] NULL,
 CONSTRAINT [PK_farmacia_produto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[filme]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[filme](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[minutos] [varchar](100) NULL,
	[direcao] [varchar](200) NULL,
	[elenco] [varchar](200) NULL,
	[nacionalidade] [varchar](200) NULL,
	[titulo_original] [varchar](500) NULL,
	[distribuidor] [varchar](200) NULL,
	[ano_producao] [int] NULL,
	[tipo_filme] [varchar](200) NULL,
	[orcamento] [decimal](18, 2) NULL,
	[idioma] [varchar](200) NULL,
	[cor] [varchar](200) NULL,
	[sinopse] [text] NULL,
	[inactivo] [bit] NULL,
	[foto_capa] [varchar](200) NULL,
	[preco] [decimal](18, 2) NULL,
	[link_trailer] [varchar](300) NULL,
 CONSTRAINT [PK_filme] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[filme_categoria]    Script Date: 17-03-2020 6:48:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[filme_categoria](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](200) NULL,
 CONSTRAINT [PK_filme_categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[genero_musical]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genero_musical](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](50) NULL,
 CONSTRAINT [PK_genero_musical] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hospital]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hospital](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_distrito] [int] NULL,
	[nome] [varchar](200) NULL,
	[bairro] [varchar](200) NULL,
	[data_cadastro] [datetime] NULL,
	[descricao] [text] NULL,
	[inactivo] [bit] NULL,
	[foto_capa] [varchar](200) NULL,
 CONSTRAINT [PK_hospital] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[item_filme_categoria]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_filme_categoria](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_filme] [bigint] NULL,
	[id_categoria] [bigint] NULL,
	[inactivo] [bit] NULL,
 CONSTRAINT [PK_item_filme_categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[item_pacote_subscricao]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[item_pacote_subscricao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_nome] [varchar](50) NULL,
	[activo] [bit] NULL,
	[id_pacote_subscricao] [int] NULL,
 CONSTRAINT [PK_item_pacote_subscricao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[loja]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[loja](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[id_distrito] [int] NULL,
	[bairro] [varchar](200) NULL,
	[descricao] [text] NULL,
	[inactivo] [bit] NULL,
	[foto_capa] [varchar](200) NULL,
	[data_cadastro] [datetime] NULL,
	[telefone] [varchar](50) NULL,
	[email] [varchar](200) NULL,
	[id_tipo_loja] [int] NULL,
 CONSTRAINT [PK_loja] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[loja_produto]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[loja_produto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](200) NULL,
	[id_loja] [bigint] NULL,
	[nome] [varchar](200) NULL,
	[descricao] [text] NULL,
	[preco_min] [money] NULL,
	[preco_max] [money] NULL,
	[preco_venda] [money] NULL,
	[e_servico] [bit] NULL,
	[foto_capa] [varchar](200) NULL,
	[data_cadastro] [datetime] NULL,
	[clicks] [int] NULL,
	[inactivo] [bit] NULL,
	[id_categoria] [int] NULL,
	[categoria] [int] NULL,
 CONSTRAINT [PK_loja_produto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[loja_tipo]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[loja_tipo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](200) NULL,
 CONSTRAINT [PK_loja_tipo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[musica]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musica](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_genero_musical] [int] NULL,
	[titulo] [nvarchar](50) NULL,
	[artista] [nvarchar](50) NULL,
	[ano] [int] NULL,
	[album] [nvarchar](50) NULL,
	[formato] [nvarchar](50) NULL,
	[produtor] [nvarchar](50) NULL,
	[gravadora] [nvarchar](50) NULL,
	[link] [nvarchar](max) NULL,
	[caminho_ficheiro] [nvarchar](max) NULL,
	[caminho_capa1] [nvarchar](max) NULL,
	[caminho_capa2] [nvarchar](max) NULL,
	[preco_venda] [money] NULL,
	[gratis] [bit] NULL,
	[duracao] [nvarchar](50) NULL,
	[pode_baixar] [bit] NULL,
	[e_album] [bit] NULL,
	[id_artista_obra] [bigint] NULL,
 CONSTRAINT [PK_musica] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[obra_arte]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obra_arte](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_categoria_obra] [int] NULL,
	[titulo] [nvarchar](max) NULL,
	[autor] [nvarchar](max) NULL,
	[materia] [nvarchar](50) NULL,
	[suporte] [nvarchar](50) NULL,
	[tecnica] [nvarchar](50) NULL,
	[dimensoes] [nvarchar](50) NULL,
	[autoria_producao] [nvarchar](max) NULL,
	[informacao_tecnica] [text] NULL,
	[fotografo] [nvarchar](50) NULL,
	[proprietario] [nvarchar](50) NULL,
	[caminho_imagem] [nvarchar](max) NULL,
	[id_artista_obra] [bigint] NULL,
 CONSTRAINT [PK_obra_arte] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[obra_arte_imagem]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obra_arte_imagem](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_obra_arte] [bigint] NULL,
	[caminho_imagem] [nvarchar](max) NULL,
 CONSTRAINT [PK_obra_arte_imagem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pacote_subscricao]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pacote_subscricao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NULL,
	[preco_por_mes] [decimal](18, 2) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_pacote_subscricao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[produto]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_categoria] [int] NULL,
	[id_tipo_produto] [int] NULL,
	[nome_oficial] [nvarchar](max) NULL,
	[nome_tradicional] [nvarchar](max) NULL,
	[nome_vulgar] [nvarchar](max) NULL,
	[origem] [nvarchar](50) NULL,
	[poder_comercial] [nvarchar](50) NULL,
	[volume_producao] [nvarchar](50) NULL,
	[forma_aquisicao] [nvarchar](50) NULL,
	[preco_custo] [money] NULL,
	[preco_venda] [money] NULL,
	[preco_exportacao] [money] NULL,
	[aceita_reserva] [bit] NULL,
	[metodo_reserva] [nvarchar](50) NULL,
	[aceita_envio] [bit] NULL,
	[metodo_envio] [nvarchar](50) NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_produto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[produto_categoria]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[produto_categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NULL,
 CONSTRAINT [PK_produto_categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[restaurante]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurante](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[endereco] [nvarchar](max) NULL,
	[telefone] [nvarchar](50) NULL,
	[email] [nvarchar](max) NULL,
	[descricao] [text] NULL,
	[foto_capa] [nvarchar](50) NULL,
	[website] [nvarchar](max) NULL,
	[mapa] [text] NULL,
	[id_restaurante_tipo] [int] NULL,
	[id_distrito] [int] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_restaurante] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[restaurante_classificacao]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurante_classificacao](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_restaurante] [bigint] NULL,
	[classificacao] [int] NULL,
	[usuario_nome] [nvarchar](50) NULL,
	[usuario_email] [nvarchar](50) NULL,
	[usuario_assunto] [nvarchar](50) NULL,
	[comentario] [nvarchar](max) NULL,
	[foto] [nvarchar](max) NULL,
	[data_cadastro] [datetime] NULL,
	[id_usuario] [bigint] NULL,
 CONSTRAINT [PK_restaurante_classificacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[restaurante_comentario]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[restaurante_comentario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_restaurante] [bigint] NULL,
	[id_usuario] [bigint] NULL,
	[data] [datetime] NULL,
	[valido] [bit] NULL,
	[comentario] [nvarchar](max) NULL,
	[nomeUsuario] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[assunto] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[restaurante_foto]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurante_foto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[caminho] [nvarchar](max) NULL,
	[id_restaurante] [bigint] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_restaurante_foto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[restaurante_prato]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[restaurante_prato](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_resturante] [bigint] NULL,
	[nome] [varchar](100) NULL,
	[preco_venda] [decimal](18, 2) NULL,
	[foto_capa] [varchar](200) NULL,
	[descricao] [text] NULL,
	[data_cadastrro] [datetime] NULL,
	[inactivo] [bit] NULL,
 CONSTRAINT [PK_restaurante_prato] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[restaurante_tipo]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurante_tipo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK_restaurante_tipo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[servico]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servico](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](max) NULL,
	[endereco] [nvarchar](max) NOT NULL,
	[telefone] [nvarchar](50) NULL,
	[email] [nvarchar](max) NULL,
	[foto_capa] [nvarchar](max) NULL,
	[id_servico_categoria] [int] NULL,
	[id_distrito] [int] NULL,
 CONSTRAINT [PK_servico] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[servico_categoria]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servico_categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NULL,
	[nome] [nvarchar](50) NULL,
 CONSTRAINT [PK_categoria_servico] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[servico_foto]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servico_foto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[caminho] [nvarchar](max) NULL,
	[id_servico] [bigint] NULL,
 CONSTRAINT [PK_servico_foto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[taxi]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taxi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[praca_fixa] [nvarchar](max) NULL,
	[bairro] [nvarchar](max) NULL,
	[condutor] [nvarchar](max) NULL,
	[proprietario] [nvarchar](max) NULL,
	[matricula] [nvarchar](50) NULL,
	[marca] [nvarchar](50) NULL,
	[cor] [nvarchar](50) NULL,
	[telefone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[id_distrito] [int] NULL,
	[foto_capa] [nvarchar](max) NULL,
	[Inactivo] [bit] NULL,
	[id_categoria] [int] NULL,
 CONSTRAINT [PK_taxi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[taxi_categoria]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[taxi_categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NULL,
	[fotografia] [varchar](100) NULL,
 CONSTRAINT [PK_taxi_categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_produto]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_produto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [nvarchar](50) NULL,
 CONSTRAINT [PK_tipo_produto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[turismo]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[turismo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](200) NULL,
	[data_cadastro] [datetime] NULL,
	[id_distrito] [int] NULL,
	[localizacao] [nvarchar](300) NULL,
	[inactivo] [bit] NULL,
	[foto_capa] [varchar](200) NULL,
	[descricao] [text] NULL,
	[id_categoria] [int] NULL,
 CONSTRAINT [PK_turismo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[turismo_categoria]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[turismo_categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](100) NULL,
	[fotografia] [varchar](100) NULL,
 CONSTRAINT [PK_turismo_categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[turismo_comentario]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[turismo_comentario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NULL,
	[data_cadastro] [datetime] NULL,
	[valido] [bit] NULL,
	[comentario] [text] NULL,
	[nomeUsuario] [varchar](200) NULL,
	[email] [varchar](200) NULL,
	[assunto] [varchar](200) NULL,
	[id_turismo] [bigint] NULL,
 CONSTRAINT [PK_turismo_comentario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[idusario] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[usuario] [nvarchar](max) NULL,
	[senha] [nvarchar](max) NULL,
	[activo] [bit] NULL,
	[datacadastro] [datetime] NULL,
	[cod_autenticao] [nvarchar](max) NULL,
	[autenticado] [bit] NULL,
	[msg_autenticacao] [nvarchar](max) NULL,
	[id_usuario_tipo] [int] NULL,
	[telefone] [varchar](255) NULL,
	[tele] [varchar](255) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idusario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuario_favorito]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_favorito](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NULL,
	[e_distrito] [bit] NULL,
	[id_distrito] [int] NULL,
	[e_restaurante] [bit] NULL,
	[id_restaurante] [bigint] NULL,
	[e_acomodacao] [bit] NULL,
	[id_acomodacao] [bigint] NULL,
	[e_servico] [bit] NULL,
	[id_servico] [bigint] NULL,
	[e_artigo] [bit] NULL,
	[id_artigo] [bigint] NULL,
	[e_musica] [bit] NULL,
	[id_musica] [bigint] NULL,
	[e_obra_arte] [bit] NULL,
	[id_obra_arte] [bigint] NULL,
	[e_taxi] [bit] NULL,
	[id_taxi] [bigint] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_usuario_favorito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuario_tipo]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_tipo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK_usuario_tipo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsuarioAutenticacao]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioAutenticacao](
	[idAutenticacao] [bigint] IDENTITY(1,1) NOT NULL,
	[idUsuario] [bigint] NULL,
	[data] [datetime] NULL,
	[viaemail] [bit] NULL,
	[viacell] [bit] NULL,
	[codigo] [nvarchar](max) NULL,
	[resultado] [nvarchar](max) NULL,
 CONSTRAINT [PK_Autenticacao] PRIMARY KEY CLUSTERED 
(
	[idAutenticacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsuarioSessao]    Script Date: 17-03-2020 6:48:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioSessao](
	[idsessao] [bigint] IDENTITY(1,1) NOT NULL,
	[idusuario] [bigint] NULL,
	[data] [datetime] NULL,
 CONSTRAINT [PK_UsuarioSessao] PRIMARY KEY CLUSTERED 
(
	[idsessao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[acomodacao] ON 

INSERT [dbo].[acomodacao] ([id], [nome], [endereco], [telefone], [email], [descricao], [foto_capa], [website], [mapa], [id_acomodacao_tipo], [id_distrito], [Inactivo]) VALUES (2, N'teste', N'testte', N'34324', N'junior-pires007@live.com', NULL, N'Perfil932020152553_2.jpg', N'teste', N'czczxcvv', 1, 2, 0)
SET IDENTITY_INSERT [dbo].[acomodacao] OFF
SET IDENTITY_INSERT [dbo].[acomodacao_classificacao] ON 

INSERT [dbo].[acomodacao_classificacao] ([id], [id_acomodacao], [classificacao], [usuario_nome], [usuario_email], [usuario_assunto], [comentario], [foto], [data_cadastro], [id_usuario], [activo]) VALUES (1, 1, 4, N'junior pires alide', N'jpires@mozsistemas.co.mz', N'Elogio', NULL, NULL, CAST(N'2019-12-25 01:34:51.847' AS DateTime), NULL, 1)
INSERT [dbo].[acomodacao_classificacao] ([id], [id_acomodacao], [classificacao], [usuario_nome], [usuario_email], [usuario_assunto], [comentario], [foto], [data_cadastro], [id_usuario], [activo]) VALUES (3, 1, 3, N'emerson pires alide', N'pires@ms.co.mz', N'teste', NULL, NULL, CAST(N'2019-12-26 13:44:45.353' AS DateTime), NULL, 1)
INSERT [dbo].[acomodacao_classificacao] ([id], [id_acomodacao], [classificacao], [usuario_nome], [usuario_email], [usuario_assunto], [comentario], [foto], [data_cadastro], [id_usuario], [activo]) VALUES (4, 1, 2, N'Abdul Latifo', N'alatifo@ms.com', N'elogio', NULL, NULL, CAST(N'2019-12-26 13:49:40.113' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[acomodacao_classificacao] OFF
SET IDENTITY_INSERT [dbo].[acomodacao_comentario] ON 

INSERT [dbo].[acomodacao_comentario] ([id], [id_acomodacao], [id_usuario], [data], [valido], [comentario], [nomeUsuario], [email], [assunto]) VALUES (1, 1, NULL, CAST(N'2019-12-25 01:34:52.020' AS DateTime), 1, N'esta acomodacao serviu-me muito bem no passado dia 12', N'junior pires alide', N'jpires@mozsistemas.co.mz', NULL)
INSERT [dbo].[acomodacao_comentario] ([id], [id_acomodacao], [id_usuario], [data], [valido], [comentario], [nomeUsuario], [email], [assunto]) VALUES (3, 1, NULL, CAST(N'2019-12-26 13:49:40.130' AS DateTime), 1, N'lindo hotel', N'Abdul Latifo', N'alatifo@ms.com', NULL)
INSERT [dbo].[acomodacao_comentario] ([id], [id_acomodacao], [id_usuario], [data], [valido], [comentario], [nomeUsuario], [email], [assunto]) VALUES (4, 1, NULL, CAST(N'2019-12-26 14:00:49.917' AS DateTime), 1, N'teste', N'Inacio Sumane', N'isumbane@mozsistemas.co.mz', NULL)
SET IDENTITY_INSERT [dbo].[acomodacao_comentario] OFF
SET IDENTITY_INSERT [dbo].[acomodacao_foto] ON 

INSERT [dbo].[acomodacao_foto] ([id], [id_acomodacao], [caminho]) VALUES (5, 1, N'ImgAcom201220191701_1.jpg')
INSERT [dbo].[acomodacao_foto] ([id], [id_acomodacao], [caminho]) VALUES (6, 1, N'ImgAcom201220191707_1.jpg')
INSERT [dbo].[acomodacao_foto] ([id], [id_acomodacao], [caminho]) VALUES (7, 1, N'ImgAcom2012201917012_1.jpg')
SET IDENTITY_INSERT [dbo].[acomodacao_foto] OFF
SET IDENTITY_INSERT [dbo].[acomodacao_quarto] ON 

INSERT [dbo].[acomodacao_quarto] ([id], [id_acomodacao], [descricao], [hospedes], [custo_diaria], [quantidade], [foto_capa], [chk_ac], [chk_parqueamento], [chk_televisao], [chk_geleira], [chk_wifi], [chk_minibar], [quarto_foto], [Inactivo], [observacoes]) VALUES (1, 1, N'EXCLUSIVO', 2, 5500.0000, 9, N'quarto18122019155712_1.jpg', 1, 1, 1, 0, 1, 1, NULL, 0, N'From the minute we arrived the staff were lovely and very helpful. Room beautiful with lovely views of the lake. Breakfast was fantastic and dinner in the Taffeta bar was very very nice.')
SET IDENTITY_INSERT [dbo].[acomodacao_quarto] OFF
SET IDENTITY_INSERT [dbo].[acomodacao_tipo] ON 

INSERT [dbo].[acomodacao_tipo] ([id], [tipo]) VALUES (1, N'PENSÃO')
INSERT [dbo].[acomodacao_tipo] ([id], [tipo]) VALUES (2, N'HOTEL')
INSERT [dbo].[acomodacao_tipo] ([id], [tipo]) VALUES (3, N'LODGE')
SET IDENTITY_INSERT [dbo].[acomodacao_tipo] OFF
SET IDENTITY_INSERT [dbo].[artigo] ON 

INSERT [dbo].[artigo] ([id], [codigo], [id_categoria_artigo], [nome], [descricao], [marca_registada], [atracao_internacional], [preco_min], [preco_max], [preco_venda], [observacoes], [portofolio], [genero], [e_servico], [foto_capa], [id_distrito], [bairro], [clicks], [data_cadastro], [Inactivo]) VALUES (2, NULL, 2, N'Toyota Raum', N'toyota raum usado em bom estado', 1, 1, 230000.0000, 250000.0000, 240000.0000, NULL, N'toyota.co.mz', N'Viaturas', 0, N'Perfil2012201915123_2.jpg', 3, N'Bloco 1, Cidade Alta', NULL, CAST(N'2019-12-20 15:11:51.370' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[artigo] OFF
SET IDENTITY_INSERT [dbo].[artigo_imagem] ON 

INSERT [dbo].[artigo_imagem] ([id], [id_artigo], [caminho]) VALUES (4, 1, N'ImgArtigo19122019162929_1.jpg')
INSERT [dbo].[artigo_imagem] ([id], [id_artigo], [caminho]) VALUES (5, 1, N'ImgArtigo19122019162929_1.jpg')
INSERT [dbo].[artigo_imagem] ([id], [id_artigo], [caminho]) VALUES (6, 1, N'ImgArtigo19122019162933_1.jpg')
SET IDENTITY_INSERT [dbo].[artigo_imagem] OFF
SET IDENTITY_INSERT [dbo].[artista_obra] ON 

INSERT [dbo].[artista_obra] ([id], [nome], [descricao], [fotografia], [id_distrito], [telefone], [e_musico]) VALUES (2, N'Malangatana', N'malangatana', N'Autor18120201073.jpg', 2, N'258842338251', 0)
INSERT [dbo].[artista_obra] ([id], [nome], [descricao], [fotografia], [id_distrito], [telefone], [e_musico]) VALUES (3, N'Messias Maricoa', N'musico da provincia de nampula', N'Autor532020123612.jpg', 3, N'847863291', 1)
SET IDENTITY_INSERT [dbo].[artista_obra] OFF
SET IDENTITY_INSERT [dbo].[carrinho_compra] ON 

INSERT [dbo].[carrinho_compra] ([id], [id_usuario], [e_restaurante], [e_artigo], [e_acomodacao], [e_taxi], [id_restaurante], [id_acomodacao], [id_quarto], [id_artigo], [id_taxi], [activo], [data_cadastro], [descricao], [e_obra], [id_obra], [e_musica], [id_musica], [e_loja_produto], [id_loja_produto], [e_farmacia_produto], [id_farmacia_produto], [e_Filme], [id_filme]) VALUES (1, 19, 0, 1, 0, 0, NULL, NULL, NULL, 2, NULL, 1, CAST(N'2019-12-30 18:58:42.700' AS DateTime), N'toyota raum usado em bom estado', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[carrinho_compra] ([id], [id_usuario], [e_restaurante], [e_artigo], [e_acomodacao], [e_taxi], [id_restaurante], [id_acomodacao], [id_quarto], [id_artigo], [id_taxi], [activo], [data_cadastro], [descricao], [e_obra], [id_obra], [e_musica], [id_musica], [e_loja_produto], [id_loja_produto], [e_farmacia_produto], [id_farmacia_produto], [e_Filme], [id_filme]) VALUES (2, 1, 0, 1, 0, 0, NULL, NULL, NULL, 2, NULL, 1, CAST(N'2019-12-30 19:00:26.527' AS DateTime), N'toyota raum usado em bom estado', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[carrinho_compra] ([id], [id_usuario], [e_restaurante], [e_artigo], [e_acomodacao], [e_taxi], [id_restaurante], [id_acomodacao], [id_quarto], [id_artigo], [id_taxi], [activo], [data_cadastro], [descricao], [e_obra], [id_obra], [e_musica], [id_musica], [e_loja_produto], [id_loja_produto], [e_farmacia_produto], [id_farmacia_produto], [e_Filme], [id_filme]) VALUES (3, 19, 0, 1, 0, 0, NULL, NULL, NULL, 1, NULL, 1, CAST(N'2019-12-30 19:22:56.347' AS DateTime), N'play station em bom estado, aceito negociacoes', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[carrinho_compra] OFF
SET IDENTITY_INSERT [dbo].[categoria_artigo] ON 

INSERT [dbo].[categoria_artigo] ([id], [descricao]) VALUES (1, N'Imobiliaria')
INSERT [dbo].[categoria_artigo] ([id], [descricao]) VALUES (2, N'Veiculos')
INSERT [dbo].[categoria_artigo] ([id], [descricao]) VALUES (3, N'Tecnologia')
SET IDENTITY_INSERT [dbo].[categoria_artigo] OFF
SET IDENTITY_INSERT [dbo].[categoria_obra_arte] ON 

INSERT [dbo].[categoria_obra_arte] ([id], [descricao], [fotografia]) VALUES (1, N'PINTURAS', N'noimage.png')
INSERT [dbo].[categoria_obra_arte] ([id], [descricao], [fotografia]) VALUES (2, N'OBJECTOS', N'noimage.png')
INSERT [dbo].[categoria_obra_arte] ([id], [descricao], [fotografia]) VALUES (3, N'ARTIGOS', N'noimage.png')
SET IDENTITY_INSERT [dbo].[categoria_obra_arte] OFF
SET IDENTITY_INSERT [dbo].[cinema] ON 

SET IDENTITY_INSERT [dbo].[cinema] OFF
SET IDENTITY_INSERT [dbo].[clinica] ON 

SET IDENTITY_INSERT [dbo].[clinica] OFF
SET IDENTITY_INSERT [dbo].[distrito] ON 

SET IDENTITY_INSERT [dbo].[distrito] OFF
SET IDENTITY_INSERT [dbo].[distrito_classificacao] ON 

INSERT [dbo].[distrito_classificacao] ([id], [id_distrito], [id_usuario], [e_like], [data_cadastro], [activo], [nomeUsuario], [email], [assunto], [estrelas]) VALUES (1, 3, 1, 0, CAST(N'2019-12-25 01:48:36.180' AS DateTime), 1, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[distrito_classificacao] OFF
SET IDENTITY_INSERT [dbo].[distrito_comentario] ON 

INSERT [dbo].[distrito_comentario] ([id], [id_distrito], [id_usuario], [comentario], [data], [valido], [nomeUsuario], [email], [assunto]) VALUES (1, 3, 1, N'distrito em desenvolvimento', CAST(N'2019-12-25 01:48:36.197' AS DateTime), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[distrito_comentario] OFF
SET IDENTITY_INSERT [dbo].[distrito_foto] ON 

INSERT [dbo].[distrito_foto] ([id], [id_distrito], [caminho]) VALUES (15, 2, N'ImgDistrito20122019171142_2.jpg')
INSERT [dbo].[distrito_foto] ([id], [id_distrito], [caminho]) VALUES (16, 2, N'ImgDistrito20122019171156_2.jpg')
INSERT [dbo].[distrito_foto] ([id], [id_distrito], [caminho]) VALUES (17, 2, N'ImgDistrito20122019171213_2.jpg')
SET IDENTITY_INSERT [dbo].[distrito_foto] OFF
SET IDENTITY_INSERT [dbo].[empresa] ON 

SET IDENTITY_INSERT [dbo].[empresa] OFF
SET IDENTITY_INSERT [dbo].[evento] ON 

SET IDENTITY_INSERT [dbo].[evento] OFF
SET IDENTITY_INSERT [dbo].[evento_categoria] ON 

INSERT [dbo].[evento_categoria] ([id], [descricao]) VALUES (1, N'ESPECTACULO')
INSERT [dbo].[evento_categoria] ([id], [descricao]) VALUES (2, N'EVENTOS ACADEMICOS')
SET IDENTITY_INSERT [dbo].[evento_categoria] OFF
SET IDENTITY_INSERT [dbo].[evento_comentario] ON 

INSERT [dbo].[evento_comentario] ([id], [id_evento], [id_usuario], [data_cadastro], [valido], [comentario], [nomeUsuario], [email], [assunto]) VALUES (1, 2, NULL, CAST(N'2020-03-05 16:09:21.967' AS DateTime), 1, N'teste', N'JUNIIOR', N'junior.alide007@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[evento_comentario] OFF
SET IDENTITY_INSERT [dbo].[farmacia] ON 

INSERT [dbo].[farmacia] ([id], [id_distrito], [nome], [bairro], [descricao], [telefone], [foto_capa], [inactivo], [email], [data_cadastro]) VALUES (1, 2, N'Farmácia Popular', N'Ave Josina Machel, Quelimane', N'teste', N'258842338251', N'Farmacia1812020103613_1.JPG', 0, N'farmaciapopular@gmail.com', CAST(N'2020-01-18 10:36:06.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[farmacia] OFF
SET IDENTITY_INSERT [dbo].[farmacia_produto] ON 

INSERT [dbo].[farmacia_produto] ([id], [id_farmacia], [nome], [descricao], [preco_venda], [foto_capa], [data_cadastro], [inactivo]) VALUES (3, 1, N'paracetamol', N'teste', CAST(20.00 AS Decimal(18, 2)), N'FarmaciaProduto632020151525_3.jpg', CAST(N'2020-03-06 15:15:15.187' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[farmacia_produto] OFF
SET IDENTITY_INSERT [dbo].[filme] ON 

SET IDENTITY_INSERT [dbo].[filme] OFF
SET IDENTITY_INSERT [dbo].[filme_categoria] ON 

INSERT [dbo].[filme_categoria] ([id], [descricao]) VALUES (1, N'Aventura')
INSERT [dbo].[filme_categoria] ([id], [descricao]) VALUES (2, N'Familia')
INSERT [dbo].[filme_categoria] ([id], [descricao]) VALUES (3, N'Drama')
SET IDENTITY_INSERT [dbo].[filme_categoria] OFF
SET IDENTITY_INSERT [dbo].[genero_musical] ON 

INSERT [dbo].[genero_musical] ([id], [descricao]) VALUES (1, N'ZOUK')
INSERT [dbo].[genero_musical] ([id], [descricao]) VALUES (2, N'SEMBA')
INSERT [dbo].[genero_musical] ([id], [descricao]) VALUES (3, N'RAP & RNB')
SET IDENTITY_INSERT [dbo].[genero_musical] OFF
SET IDENTITY_INSERT [dbo].[hospital] ON 

SET IDENTITY_INSERT [dbo].[hospital] OFF
SET IDENTITY_INSERT [dbo].[item_filme_categoria] ON 

INSERT [dbo].[item_filme_categoria] ([id], [id_filme], [id_categoria], [inactivo]) VALUES (2, 4, 2, 1)
INSERT [dbo].[item_filme_categoria] ([id], [id_filme], [id_categoria], [inactivo]) VALUES (7, 4, 2, 0)
INSERT [dbo].[item_filme_categoria] ([id], [id_filme], [id_categoria], [inactivo]) VALUES (8, 4, 1, 0)
SET IDENTITY_INSERT [dbo].[item_filme_categoria] OFF
SET IDENTITY_INSERT [dbo].[item_pacote_subscricao] ON 

INSERT [dbo].[item_pacote_subscricao] ([id], [item_nome], [activo], [id_pacote_subscricao]) VALUES (1, N'Anuncios', 1, 1)
INSERT [dbo].[item_pacote_subscricao] ([id], [item_nome], [activo], [id_pacote_subscricao]) VALUES (2, N'cartaz', 1, 1)
SET IDENTITY_INSERT [dbo].[item_pacote_subscricao] OFF
SET IDENTITY_INSERT [dbo].[loja] ON 

INSERT [dbo].[loja] ([id], [nome], [id_distrito], [bairro], [descricao], [inactivo], [foto_capa], [data_cadastro], [telefone], [email], [id_tipo_loja]) VALUES (1, N'SHOPRITE', 2, N'Avenida Marginal', N'teste', 0, N'Loja43202015717_1.jpg', CAST(N'2020-03-04 15:07:03.350' AS DateTime), N'876543210', N'junior-pires007@live.com', 1)
SET IDENTITY_INSERT [dbo].[loja] OFF
SET IDENTITY_INSERT [dbo].[loja_produto] ON 

INSERT [dbo].[loja_produto] ([id], [codigo], [id_loja], [nome], [descricao], [preco_min], [preco_max], [preco_venda], [e_servico], [foto_capa], [data_cadastro], [clicks], [inactivo], [id_categoria], [categoria]) VALUES (1, NULL, 1, N'Paracetamol 500 mg', N'paracetamol composto mlg', NULL, NULL, 20.0000, 0, N'LojaProduto43202015911_1.jpg', CAST(N'2020-03-04 15:09:04.350' AS DateTime), 0, 0, 3, 1)
INSERT [dbo].[loja_produto] ([id], [codigo], [id_loja], [nome], [descricao], [preco_min], [preco_max], [preco_venda], [e_servico], [foto_capa], [data_cadastro], [clicks], [inactivo], [id_categoria], [categoria]) VALUES (2, NULL, 1, N'bolacha agua e sal', N'teste', NULL, NULL, 20.0000, 0, N'LojaProduto432020162133_2.png', CAST(N'2020-03-04 16:21:28.593' AS DateTime), 0, 0, NULL, 2)
SET IDENTITY_INSERT [dbo].[loja_produto] OFF
SET IDENTITY_INSERT [dbo].[loja_tipo] ON 

INSERT [dbo].[loja_tipo] ([id], [descricao]) VALUES (1, N'SUPERMERCADO')
INSERT [dbo].[loja_tipo] ([id], [descricao]) VALUES (2, N'IMOBILIARIA')
SET IDENTITY_INSERT [dbo].[loja_tipo] OFF
SET IDENTITY_INSERT [dbo].[musica] ON 

INSERT [dbo].[musica] ([id], [id_genero_musical], [titulo], [artista], [ano], [album], [formato], [produtor], [gravadora], [link], [caminho_ficheiro], [caminho_capa1], [caminho_capa2], [preco_venda], [gratis], [duracao], [pode_baixar], [e_album], [id_artista_obra]) VALUES (1, 1, N'Minha Dama', N'Abuchamo', 2019, NULL, N'MP3', N'wce beats', N'universal', N'teste', NULL, N'Capa1712020163555_1.jpg', NULL, NULL, 1, NULL, 1, 0, 1)
INSERT [dbo].[musica] ([id], [id_genero_musical], [titulo], [artista], [ano], [album], [formato], [produtor], [gravadora], [link], [caminho_ficheiro], [caminho_capa1], [caminho_capa2], [preco_venda], [gratis], [duracao], [pode_baixar], [e_album], [id_artista_obra]) VALUES (2, 3, N'Eu estava ai', N'Messias Maricoa', 2020, NULL, N'MP3', N'daiton beats', N'meed', NULL, NULL, N'Capa532020123815_2.jpg', NULL, 300.0000, 0, N'3.25', 0, 0, 3)
SET IDENTITY_INSERT [dbo].[musica] OFF
SET IDENTITY_INSERT [dbo].[obra_arte] ON 

INSERT [dbo].[obra_arte] ([id], [id_categoria_obra], [titulo], [autor], [materia], [suporte], [tecnica], [dimensoes], [autoria_producao], [informacao_tecnica], [fotografo], [proprietario], [caminho_imagem], [id_artista_obra]) VALUES (1, 1, N'Arte de viver', N'Malangatana', N'wolves', N'pinto', N'teste', N'230x230', N'Malangatana', N'teste', NULL, N'Malangatana', N'Perfil181202010109_1.jpg', 2)
INSERT [dbo].[obra_arte] ([id], [id_categoria_obra], [titulo], [autor], [materia], [suporte], [tecnica], [dimensoes], [autoria_producao], [informacao_tecnica], [fotografo], [proprietario], [caminho_imagem], [id_artista_obra]) VALUES (2, 2, N'teste', N'Malangatana', N'teste', N'teste', N'teste', N'320X290', N'teste', N'teste', NULL, N'teste', N'Perfil2112020103623_2.jpg', 2)
SET IDENTITY_INSERT [dbo].[obra_arte] OFF
SET IDENTITY_INSERT [dbo].[obra_arte_imagem] ON 

INSERT [dbo].[obra_arte_imagem] ([id], [id_obra_arte], [caminho_imagem]) VALUES (1, 1, N'ImgObra1812020101016_1.jpg')
INSERT [dbo].[obra_arte_imagem] ([id], [id_obra_arte], [caminho_imagem]) VALUES (2, 2, N'ImgObra2112020103638_2.jpg')
SET IDENTITY_INSERT [dbo].[obra_arte_imagem] OFF
SET IDENTITY_INSERT [dbo].[pacote_subscricao] ON 

INSERT [dbo].[pacote_subscricao] ([id], [nome], [preco_por_mes], [activo]) VALUES (1, N'Basico', CAST(1200.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[pacote_subscricao] OFF
SET IDENTITY_INSERT [dbo].[produto_categoria] ON 

INSERT [dbo].[produto_categoria] ([id], [descricao]) VALUES (1, N'ALIMENTOS')
INSERT [dbo].[produto_categoria] ([id], [descricao]) VALUES (2, N'COSMETICOS')
SET IDENTITY_INSERT [dbo].[produto_categoria] OFF
SET IDENTITY_INSERT [dbo].[restaurante] ON 

SET IDENTITY_INSERT [dbo].[restaurante] OFF
SET IDENTITY_INSERT [dbo].[restaurante_classificacao] ON 

INSERT [dbo].[restaurante_classificacao] ([id], [id_restaurante], [classificacao], [usuario_nome], [usuario_email], [usuario_assunto], [comentario], [foto], [data_cadastro], [id_usuario]) VALUES (1, 1, 3, N'Augusto Pinto', N'jpires@mozsistemas.co.mz', N'teste', NULL, NULL, CAST(N'2019-12-28 10:23:50.203' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[restaurante_classificacao] OFF
SET IDENTITY_INSERT [dbo].[restaurante_comentario] ON 

INSERT [dbo].[restaurante_comentario] ([id], [id_restaurante], [id_usuario], [data], [valido], [comentario], [nomeUsuario], [email], [assunto]) VALUES (1, 1, NULL, CAST(N'2019-12-28 10:23:50.373' AS DateTime), 1, N'Boa Comida', N'Augusto Pinto', N'jpires@mozsistemas.co.mz', NULL)
SET IDENTITY_INSERT [dbo].[restaurante_comentario] OFF
SET IDENTITY_INSERT [dbo].[restaurante_foto] ON 

INSERT [dbo].[restaurante_foto] ([id], [caminho], [id_restaurante], [activo]) VALUES (1, N'ImgRest20122019172456_1.jpg', 1, 1)
INSERT [dbo].[restaurante_foto] ([id], [caminho], [id_restaurante], [activo]) VALUES (2, N'ImgRest20122019172514_1.jpg', 1, 1)
INSERT [dbo].[restaurante_foto] ([id], [caminho], [id_restaurante], [activo]) VALUES (3, N'ImgRest412020195318_2.jpg', 2, 1)
SET IDENTITY_INSERT [dbo].[restaurante_foto] OFF
SET IDENTITY_INSERT [dbo].[restaurante_prato] ON 

INSERT [dbo].[restaurante_prato] ([id], [id_resturante], [nome], [preco_venda], [foto_capa], [descricao], [data_cadastrro], [inactivo]) VALUES (2, 1, N'Arroz com Feijao', CAST(190.00 AS Decimal(18, 2)), N'RestaurantePrato63202012355_2.jpg', N'Arroz com feijão é o nome dado a um prato típico do Brasil. Essa receita não tem uma origem certa, mas a hipótese mais aceita é a de que seria fruto de uma combinação do arroz trazido pelos portugueses para o Brasil com o feijão, que já seria consumido no Brasil pelos ameríndios.', CAST(N'2020-03-06 12:34:50.387' AS DateTime), 0)
INSERT [dbo].[restaurante_prato] ([id], [id_resturante], [nome], [preco_venda], [foto_capa], [descricao], [data_cadastrro], [inactivo]) VALUES (3, 1, N'Sopa de Frango com Abóbora e Açafrão da Terra', CAST(560.00 AS Decimal(18, 2)), N'RestaurantePrato63202013486_3.jpg', N'Nos dias mais frios, nada melhor que uma boa Sopa de Legumes com Cúrcuma. Confira nossa receita e dê ', CAST(N'2020-03-06 13:47:52.733' AS DateTime), 0)
INSERT [dbo].[restaurante_prato] ([id], [id_resturante], [nome], [preco_venda], [foto_capa], [descricao], [data_cadastrro], [inactivo]) VALUES (4, 1, N'Camarrao', CAST(230.00 AS Decimal(18, 2)), N'RestaurantePrato63202014550_4.jpg', N'camarao ', CAST(N'2020-03-06 14:05:44.640' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[restaurante_prato] OFF
SET IDENTITY_INSERT [dbo].[restaurante_tipo] ON 

INSERT [dbo].[restaurante_tipo] ([id], [tipo]) VALUES (1, N'Comida Rapida')
INSERT [dbo].[restaurante_tipo] ([id], [tipo]) VALUES (2, N'Pizza')
INSERT [dbo].[restaurante_tipo] ([id], [tipo]) VALUES (3, N'Pastelaria')
SET IDENTITY_INSERT [dbo].[restaurante_tipo] OFF
SET IDENTITY_INSERT [dbo].[taxi] ON 

INSERT [dbo].[taxi] ([id], [nome], [praca_fixa], [bairro], [condutor], [proprietario], [matricula], [marca], [cor], [telefone], [email], [id_distrito], [foto_capa], [Inactivo], [id_categoria]) VALUES (1, N'Taxi Mauricio', N'Quelimane', NULL, N'Mauricio', NULL, N'025MP', N'Toyota', N'preto', N'841524722', NULL, 2, N'noimage.png', 0, 2)
INSERT [dbo].[taxi] ([id], [nome], [praca_fixa], [bairro], [condutor], [proprietario], [matricula], [marca], [cor], [telefone], [email], [id_distrito], [foto_capa], [Inactivo], [id_categoria]) VALUES (2, N'Taxi Junior', N'Belavista', N'cidade alta', N'Junior', N'Ernesto', N'aa-98-3998', N'toyota', N'branco', N'258842338251', N'junior.alide007@gmail.com', 3, N'Perfil432020222828_2.jpg', 0, 4)
SET IDENTITY_INSERT [dbo].[taxi] OFF
SET IDENTITY_INSERT [dbo].[taxi_categoria] ON 

INSERT [dbo].[taxi_categoria] ([id], [descricao], [fotografia]) VALUES (1, N'TXOPELAS', N'noimage.png')
INSERT [dbo].[taxi_categoria] ([id], [descricao], [fotografia]) VALUES (2, N'AUTOMOVEIS', N'noimage.png')
INSERT [dbo].[taxi_categoria] ([id], [descricao], [fotografia]) VALUES (3, N'MOTOCICLETAS', N'noimage.png')
SET IDENTITY_INSERT [dbo].[taxi_categoria] OFF
SET IDENTITY_INSERT [dbo].[turismo] ON 

INSERT [dbo].[turismo] ([id], [nome], [data_cadastro], [id_distrito], [localizacao], [inactivo], [foto_capa], [descricao], [id_categoria]) VALUES (2, N'Praia Fernao Veloso', CAST(N'2020-03-05 12:14:29.443' AS DateTime), 2, N'Nacala-Porto', 0, N'LocalTuristico532020121618_2.jpg', N'teste', 1)
SET IDENTITY_INSERT [dbo].[turismo] OFF
SET IDENTITY_INSERT [dbo].[turismo_categoria] ON 

INSERT [dbo].[turismo_categoria] ([id], [descricao], [fotografia]) VALUES (1, N'turismo teste1', N'noimage.png')
INSERT [dbo].[turismo_categoria] ([id], [descricao], [fotografia]) VALUES (2, N'turismo teste 2', N'noimage.png')
SET IDENTITY_INSERT [dbo].[turismo_categoria] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idusario], [nome], [usuario], [senha], [activo], [datacadastro], [cod_autenticao], [autenticado], [msg_autenticacao], [id_usuario_tipo], [telefone], [tele]) VALUES (1, N'Aministrador', N'admin@mussika.co.mz', N'hjaXldGSJhaiisXuEHM6gJga31QYwcss0We71W0ysY4oFcVKHSS4bnLAro6Q8zfBLcusb91OMQjxVjMbSWGiuY7ik8I1ZSreaM4+reZjzh0S1+r3X8BlYndnrISn6xyE', 1, CAST(N'2019-12-18 13:46:04.437' AS DateTime), NULL, 1, NULL, 3, NULL, NULL)
INSERT [dbo].[Usuario] ([idusario], [nome], [usuario], [senha], [activo], [datacadastro], [cod_autenticao], [autenticado], [msg_autenticacao], [id_usuario_tipo], [telefone], [tele]) VALUES (16, N'Isumbane', N'inaciojrsumbane@gmail.com', N'NZPG7XR8rOVwwwXB2oLXRNVnxpAMztKc6a/f8CgEpPi8KOfYkXRUhXsC1fTNPDZEzc6lDSuKLzwxmzD+ikJVHlkWaIYIqOTB66PA7PXSya+vP3xQMu1dKg2yW3gFAS15', 1, CAST(N'2019-12-29 01:29:52.920' AS DateTime), N'843327', 0, NULL, 1, N'258848631601', NULL)
INSERT [dbo].[Usuario] ([idusario], [nome], [usuario], [senha], [activo], [datacadastro], [cod_autenticao], [autenticado], [msg_autenticacao], [id_usuario_tipo], [telefone], [tele]) VALUES (19, N'Júnior Pires Alide', N'2443042385780655@mussika.co.mz', N'tgmREXnZQtLOPxXnNlynJLoIpjSCHd1lVu5Zb8EQo9LrEXHyl9fHTDIAY5Ws4kYul0uwyvJQ3aql1hkqqL7N4lvIM6IBupq5T+BY2zAIEBeGwkNgWmmOkuxNJD+uvXHz', 1, CAST(N'2019-12-30 18:58:29.443' AS DateTime), NULL, 1, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET IDENTITY_INSERT [dbo].[usuario_tipo] ON 

INSERT [dbo].[usuario_tipo] ([id], [tipo]) VALUES (1, N'NORMAL')
INSERT [dbo].[usuario_tipo] ([id], [tipo]) VALUES (2, N'ADMINISTRADOR')
INSERT [dbo].[usuario_tipo] ([id], [tipo]) VALUES (3, N'SUPER ADMINISTRADOR')
SET IDENTITY_INSERT [dbo].[usuario_tipo] OFF
SET IDENTITY_INSERT [dbo].[UsuarioAutenticacao] ON 

INSERT [dbo].[UsuarioAutenticacao] ([idAutenticacao], [idUsuario], [data], [viaemail], [viacell], [codigo], [resultado]) VALUES (10, 16, CAST(N'2019-12-29 01:51:20.487' AS DateTime), 1, NULL, N'744351', N'Autenticado')
INSERT [dbo].[UsuarioAutenticacao] ([idAutenticacao], [idUsuario], [data], [viaemail], [viacell], [codigo], [resultado]) VALUES (17, 31, CAST(N'2020-01-09 18:26:32.960' AS DateTime), 1, NULL, N'614044', N'Autenticado')
INSERT [dbo].[UsuarioAutenticacao] ([idAutenticacao], [idUsuario], [data], [viaemail], [viacell], [codigo], [resultado]) VALUES (18, 32, CAST(N'2020-01-10 12:25:29.980' AS DateTime), 1, NULL, N'978875

', N'Autenticado')
SET IDENTITY_INSERT [dbo].[UsuarioAutenticacao] OFF
ALTER TABLE [dbo].[acomodacao]  WITH CHECK ADD  CONSTRAINT [FK_acomodacao_acomodacao_tipo] FOREIGN KEY([id_acomodacao_tipo])
REFERENCES [dbo].[acomodacao_tipo] ([id])
GO
ALTER TABLE [dbo].[acomodacao] CHECK CONSTRAINT [FK_acomodacao_acomodacao_tipo]
GO
ALTER TABLE [dbo].[acomodacao]  WITH CHECK ADD  CONSTRAINT [FK_acomodacao_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[acomodacao] CHECK CONSTRAINT [FK_acomodacao_distrito]
GO
ALTER TABLE [dbo].[acomodacao_classificacao]  WITH CHECK ADD  CONSTRAINT [FK_acomodacao_classificacao_acomodacao] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[acomodacao_classificacao] CHECK CONSTRAINT [FK_acomodacao_classificacao_acomodacao]
GO
ALTER TABLE [dbo].[acomodacao_comentario]  WITH CHECK ADD  CONSTRAINT [FK_acomodacao_comentario_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[acomodacao_comentario] CHECK CONSTRAINT [FK_acomodacao_comentario_Usuario]
GO
ALTER TABLE [dbo].[acomodacao_disponibilidade]  WITH CHECK ADD  CONSTRAINT [FK_acomodacao_disponibilidade_acomodacao_quarto] FOREIGN KEY([id_acomodacao_quarto])
REFERENCES [dbo].[acomodacao_quarto] ([id])
GO
ALTER TABLE [dbo].[acomodacao_disponibilidade] CHECK CONSTRAINT [FK_acomodacao_disponibilidade_acomodacao_quarto]
GO
ALTER TABLE [dbo].[acomodacao_foto]  WITH CHECK ADD  CONSTRAINT [FK_acomodacao_foto_acomodacao] FOREIGN KEY([id_acomodacao])
REFERENCES [dbo].[acomodacao] ([id])
GO
ALTER TABLE [dbo].[acomodacao_foto] CHECK CONSTRAINT [FK_acomodacao_foto_acomodacao]
GO
ALTER TABLE [dbo].[acomodacao_quarto]  WITH CHECK ADD  CONSTRAINT [FK_acomodacao_quarto_acomodacao] FOREIGN KEY([id_acomodacao])
REFERENCES [dbo].[acomodacao] ([id])
GO
ALTER TABLE [dbo].[acomodacao_quarto] CHECK CONSTRAINT [FK_acomodacao_quarto_acomodacao]
GO
ALTER TABLE [dbo].[acomodacao_servico]  WITH CHECK ADD  CONSTRAINT [FK_acomodacao_servicos_acomodacao] FOREIGN KEY([id_acomodacao])
REFERENCES [dbo].[acomodacao] ([id])
GO
ALTER TABLE [dbo].[acomodacao_servico] CHECK CONSTRAINT [FK_acomodacao_servicos_acomodacao]
GO
ALTER TABLE [dbo].[artigo]  WITH CHECK ADD  CONSTRAINT [FK_artigo_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[artigo] CHECK CONSTRAINT [FK_artigo_distrito]
GO
ALTER TABLE [dbo].[artigo]  WITH CHECK ADD  CONSTRAINT [FK_artigo_tipo_artigo] FOREIGN KEY([id_categoria_artigo])
REFERENCES [dbo].[categoria_artigo] ([id])
GO
ALTER TABLE [dbo].[artigo] CHECK CONSTRAINT [FK_artigo_tipo_artigo]
GO
ALTER TABLE [dbo].[artigo_imagem]  WITH CHECK ADD  CONSTRAINT [FK_artigo_imagem_artigo] FOREIGN KEY([id_artigo])
REFERENCES [dbo].[artigo] ([id])
GO
ALTER TABLE [dbo].[artigo_imagem] CHECK CONSTRAINT [FK_artigo_imagem_artigo]
GO
ALTER TABLE [dbo].[artista_obra]  WITH CHECK ADD  CONSTRAINT [FK_artista_obra_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[artista_obra] CHECK CONSTRAINT [FK_artista_obra_distrito]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_acomodacao] FOREIGN KEY([id_acomodacao])
REFERENCES [dbo].[acomodacao] ([id])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_acomodacao]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_acomodacao_quarto] FOREIGN KEY([id_quarto])
REFERENCES [dbo].[acomodacao_quarto] ([id])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_acomodacao_quarto]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_artigo] FOREIGN KEY([id_artigo])
REFERENCES [dbo].[artigo] ([id])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_artigo]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_farmacia_produto] FOREIGN KEY([id_farmacia_produto])
REFERENCES [dbo].[farmacia_produto] ([id])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_farmacia_produto]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_filme] FOREIGN KEY([id_filme])
REFERENCES [dbo].[filme] ([id])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_filme]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_loja_produto] FOREIGN KEY([id_loja_produto])
REFERENCES [dbo].[loja_produto] ([id])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_loja_produto]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_musica] FOREIGN KEY([id_musica])
REFERENCES [dbo].[musica] ([id])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_musica]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_obra_arte] FOREIGN KEY([id_obra])
REFERENCES [dbo].[obra_arte] ([id])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_obra_arte]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_restaurante] FOREIGN KEY([id_restaurante])
REFERENCES [dbo].[restaurante] ([id])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_restaurante]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_taxi] FOREIGN KEY([id_taxi])
REFERENCES [dbo].[taxi] ([id])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_taxi]
GO
ALTER TABLE [dbo].[carrinho_compra]  WITH CHECK ADD  CONSTRAINT [FK_carrinho_compra_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[carrinho_compra] CHECK CONSTRAINT [FK_carrinho_compra_Usuario]
GO
ALTER TABLE [dbo].[cinema]  WITH CHECK ADD  CONSTRAINT [FK_cinema_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[cinema] CHECK CONSTRAINT [FK_cinema_distrito]
GO
ALTER TABLE [dbo].[clinica]  WITH CHECK ADD  CONSTRAINT [FK_clinica_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[clinica] CHECK CONSTRAINT [FK_clinica_distrito]
GO
ALTER TABLE [dbo].[distrito_classificacao]  WITH CHECK ADD  CONSTRAINT [FK_distrito_classificacao_distrito1] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[distrito_classificacao] CHECK CONSTRAINT [FK_distrito_classificacao_distrito1]
GO
ALTER TABLE [dbo].[distrito_classificacao]  WITH CHECK ADD  CONSTRAINT [FK_distrito_classificacao_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[distrito_classificacao] CHECK CONSTRAINT [FK_distrito_classificacao_Usuario]
GO
ALTER TABLE [dbo].[distrito_comentario]  WITH CHECK ADD  CONSTRAINT [FK_distrito_comentario_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[distrito_comentario] CHECK CONSTRAINT [FK_distrito_comentario_distrito]
GO
ALTER TABLE [dbo].[distrito_comentario]  WITH CHECK ADD  CONSTRAINT [FK_distrito_comentario_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[distrito_comentario] CHECK CONSTRAINT [FK_distrito_comentario_Usuario]
GO
ALTER TABLE [dbo].[distrito_foto]  WITH CHECK ADD  CONSTRAINT [FK_distrito_foto_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[distrito_foto] CHECK CONSTRAINT [FK_distrito_foto_distrito]
GO
ALTER TABLE [dbo].[entidade_cultural]  WITH CHECK ADD  CONSTRAINT [FK_entidade_cultural_categoria_cultura] FOREIGN KEY([id_categoria_cultura])
REFERENCES [dbo].[categoria_cultura] ([id])
GO
ALTER TABLE [dbo].[entidade_cultural] CHECK CONSTRAINT [FK_entidade_cultural_categoria_cultura]
GO
ALTER TABLE [dbo].[evento]  WITH CHECK ADD  CONSTRAINT [FK_evento_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[evento] CHECK CONSTRAINT [FK_evento_distrito]
GO
ALTER TABLE [dbo].[evento]  WITH CHECK ADD  CONSTRAINT [FK_evento_evento_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[evento_categoria] ([id])
GO
ALTER TABLE [dbo].[evento] CHECK CONSTRAINT [FK_evento_evento_categoria]
GO
ALTER TABLE [dbo].[evento_comentario]  WITH CHECK ADD  CONSTRAINT [FK_evento_comentario_evento] FOREIGN KEY([id_evento])
REFERENCES [dbo].[evento] ([id])
GO
ALTER TABLE [dbo].[evento_comentario] CHECK CONSTRAINT [FK_evento_comentario_evento]
GO
ALTER TABLE [dbo].[evento_comentario]  WITH CHECK ADD  CONSTRAINT [FK_evento_comentario_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[evento_comentario] CHECK CONSTRAINT [FK_evento_comentario_Usuario]
GO
ALTER TABLE [dbo].[farmacia]  WITH CHECK ADD  CONSTRAINT [FK_farmacia_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[farmacia] CHECK CONSTRAINT [FK_farmacia_distrito]
GO
ALTER TABLE [dbo].[farmacia_produto]  WITH CHECK ADD  CONSTRAINT [FK_farmacia_produto_farmacia] FOREIGN KEY([id_farmacia])
REFERENCES [dbo].[farmacia] ([id])
GO
ALTER TABLE [dbo].[farmacia_produto] CHECK CONSTRAINT [FK_farmacia_produto_farmacia]
GO
ALTER TABLE [dbo].[hospital]  WITH CHECK ADD  CONSTRAINT [FK_hospital_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[hospital] CHECK CONSTRAINT [FK_hospital_distrito]
GO
ALTER TABLE [dbo].[item_filme_categoria]  WITH CHECK ADD  CONSTRAINT [FK_item_filme_categoria_filme] FOREIGN KEY([id_filme])
REFERENCES [dbo].[filme] ([id])
GO
ALTER TABLE [dbo].[item_filme_categoria] CHECK CONSTRAINT [FK_item_filme_categoria_filme]
GO
ALTER TABLE [dbo].[item_filme_categoria]  WITH CHECK ADD  CONSTRAINT [FK_item_filme_categoria_filme_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[filme_categoria] ([id])
GO
ALTER TABLE [dbo].[item_filme_categoria] CHECK CONSTRAINT [FK_item_filme_categoria_filme_categoria]
GO
ALTER TABLE [dbo].[item_pacote_subscricao]  WITH CHECK ADD  CONSTRAINT [FK_item_pacote_subscricao_pacote_subscricao] FOREIGN KEY([id_pacote_subscricao])
REFERENCES [dbo].[pacote_subscricao] ([id])
GO
ALTER TABLE [dbo].[item_pacote_subscricao] CHECK CONSTRAINT [FK_item_pacote_subscricao_pacote_subscricao]
GO
ALTER TABLE [dbo].[loja]  WITH CHECK ADD  CONSTRAINT [FK_loja_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[loja] CHECK CONSTRAINT [FK_loja_distrito]
GO
ALTER TABLE [dbo].[loja]  WITH CHECK ADD  CONSTRAINT [FK_loja_loja_tipo] FOREIGN KEY([id_tipo_loja])
REFERENCES [dbo].[loja_tipo] ([id])
GO
ALTER TABLE [dbo].[loja] CHECK CONSTRAINT [FK_loja_loja_tipo]
GO
ALTER TABLE [dbo].[loja_produto]  WITH CHECK ADD  CONSTRAINT [FK_loja_produto_loja] FOREIGN KEY([id_loja])
REFERENCES [dbo].[loja] ([id])
GO
ALTER TABLE [dbo].[loja_produto] CHECK CONSTRAINT [FK_loja_produto_loja]
GO
ALTER TABLE [dbo].[loja_produto]  WITH CHECK ADD  CONSTRAINT [FK_loja_produto_produto_categoria] FOREIGN KEY([categoria])
REFERENCES [dbo].[produto_categoria] ([id])
GO
ALTER TABLE [dbo].[loja_produto] CHECK CONSTRAINT [FK_loja_produto_produto_categoria]
GO
ALTER TABLE [dbo].[musica]  WITH CHECK ADD  CONSTRAINT [FK_musica_artista_obra] FOREIGN KEY([id_artista_obra])
REFERENCES [dbo].[artista_obra] ([id])
GO
ALTER TABLE [dbo].[musica] CHECK CONSTRAINT [FK_musica_artista_obra]
GO
ALTER TABLE [dbo].[musica]  WITH CHECK ADD  CONSTRAINT [FK_musica_genero_musical] FOREIGN KEY([id_genero_musical])
REFERENCES [dbo].[genero_musical] ([id])
GO
ALTER TABLE [dbo].[musica] CHECK CONSTRAINT [FK_musica_genero_musical]
GO
ALTER TABLE [dbo].[obra_arte]  WITH CHECK ADD  CONSTRAINT [FK_obra_arte_artista_obra] FOREIGN KEY([id_artista_obra])
REFERENCES [dbo].[artista_obra] ([id])
GO
ALTER TABLE [dbo].[obra_arte] CHECK CONSTRAINT [FK_obra_arte_artista_obra]
GO
ALTER TABLE [dbo].[obra_arte]  WITH CHECK ADD  CONSTRAINT [FK_obra_arte_categoria_obra_arte] FOREIGN KEY([id_categoria_obra])
REFERENCES [dbo].[categoria_obra_arte] ([id])
GO
ALTER TABLE [dbo].[obra_arte] CHECK CONSTRAINT [FK_obra_arte_categoria_obra_arte]
GO
ALTER TABLE [dbo].[obra_arte_imagem]  WITH CHECK ADD  CONSTRAINT [FK_obra_arte_imagem_obra_arte] FOREIGN KEY([id_obra_arte])
REFERENCES [dbo].[obra_arte] ([id])
GO
ALTER TABLE [dbo].[obra_arte_imagem] CHECK CONSTRAINT [FK_obra_arte_imagem_obra_arte]
GO
ALTER TABLE [dbo].[produto]  WITH CHECK ADD  CONSTRAINT [FK_produto_tipo_produto] FOREIGN KEY([id_tipo_produto])
REFERENCES [dbo].[tipo_produto] ([id])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [FK_produto_tipo_produto]
GO
ALTER TABLE [dbo].[restaurante]  WITH CHECK ADD  CONSTRAINT [FK_restaurante_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[restaurante] CHECK CONSTRAINT [FK_restaurante_distrito]
GO
ALTER TABLE [dbo].[restaurante]  WITH CHECK ADD  CONSTRAINT [FK_restaurante_restaurante_tipo] FOREIGN KEY([id_restaurante_tipo])
REFERENCES [dbo].[restaurante_tipo] ([id])
GO
ALTER TABLE [dbo].[restaurante] CHECK CONSTRAINT [FK_restaurante_restaurante_tipo]
GO
ALTER TABLE [dbo].[restaurante_classificacao]  WITH CHECK ADD  CONSTRAINT [FK_restaurante_classificacao_restaurante] FOREIGN KEY([id_restaurante])
REFERENCES [dbo].[restaurante] ([id])
GO
ALTER TABLE [dbo].[restaurante_classificacao] CHECK CONSTRAINT [FK_restaurante_classificacao_restaurante]
GO
ALTER TABLE [dbo].[restaurante_classificacao]  WITH CHECK ADD  CONSTRAINT [FK_Restaurante_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[restaurante_classificacao] CHECK CONSTRAINT [FK_Restaurante_usuario]
GO
ALTER TABLE [dbo].[restaurante_comentario]  WITH CHECK ADD  CONSTRAINT [FK_restaurante_comentario_usuario] FOREIGN KEY([id_restaurante])
REFERENCES [dbo].[restaurante] ([id])
GO
ALTER TABLE [dbo].[restaurante_comentario] CHECK CONSTRAINT [FK_restaurante_comentario_usuario]
GO
ALTER TABLE [dbo].[restaurante_comentario]  WITH CHECK ADD  CONSTRAINT [FK_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[restaurante_comentario] CHECK CONSTRAINT [FK_usuario]
GO
ALTER TABLE [dbo].[restaurante_foto]  WITH CHECK ADD  CONSTRAINT [FK_restaurante_foto_restaurante] FOREIGN KEY([id_restaurante])
REFERENCES [dbo].[restaurante] ([id])
GO
ALTER TABLE [dbo].[restaurante_foto] CHECK CONSTRAINT [FK_restaurante_foto_restaurante]
GO
ALTER TABLE [dbo].[restaurante_prato]  WITH CHECK ADD  CONSTRAINT [FK_restaurante_prato_restaurante] FOREIGN KEY([id_resturante])
REFERENCES [dbo].[restaurante] ([id])
GO
ALTER TABLE [dbo].[restaurante_prato] CHECK CONSTRAINT [FK_restaurante_prato_restaurante]
GO
ALTER TABLE [dbo].[servico]  WITH CHECK ADD  CONSTRAINT [FK_servico_categoria_servico] FOREIGN KEY([id_servico_categoria])
REFERENCES [dbo].[servico_categoria] ([id])
GO
ALTER TABLE [dbo].[servico] CHECK CONSTRAINT [FK_servico_categoria_servico]
GO
ALTER TABLE [dbo].[servico]  WITH CHECK ADD  CONSTRAINT [FK_servico_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[servico] CHECK CONSTRAINT [FK_servico_distrito]
GO
ALTER TABLE [dbo].[servico_foto]  WITH CHECK ADD  CONSTRAINT [FK_servico_foto_servico] FOREIGN KEY([id_servico])
REFERENCES [dbo].[servico] ([id])
GO
ALTER TABLE [dbo].[servico_foto] CHECK CONSTRAINT [FK_servico_foto_servico]
GO
ALTER TABLE [dbo].[taxi]  WITH CHECK ADD  CONSTRAINT [FK_taxi_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[taxi] CHECK CONSTRAINT [FK_taxi_distrito]
GO
ALTER TABLE [dbo].[taxi]  WITH CHECK ADD  CONSTRAINT [FK_taxi_taxi_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[taxi_categoria] ([id])
GO
ALTER TABLE [dbo].[taxi] CHECK CONSTRAINT [FK_taxi_taxi_categoria]
GO
ALTER TABLE [dbo].[turismo]  WITH CHECK ADD  CONSTRAINT [FK_turismo_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distrito] ([id])
GO
ALTER TABLE [dbo].[turismo] CHECK CONSTRAINT [FK_turismo_distrito]
GO
ALTER TABLE [dbo].[turismo]  WITH CHECK ADD  CONSTRAINT [FK_turismo_turismo_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[turismo_categoria] ([id])
GO
ALTER TABLE [dbo].[turismo] CHECK CONSTRAINT [FK_turismo_turismo_categoria]
GO
ALTER TABLE [dbo].[turismo_comentario]  WITH CHECK ADD  CONSTRAINT [FK_turismo_comentario_turismo] FOREIGN KEY([id_turismo])
REFERENCES [dbo].[turismo] ([id])
GO
ALTER TABLE [dbo].[turismo_comentario] CHECK CONSTRAINT [FK_turismo_comentario_turismo]
GO
ALTER TABLE [dbo].[turismo_comentario]  WITH CHECK ADD  CONSTRAINT [FK_turismo_comentario_Usuario] FOREIGN KEY([id_turismo])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[turismo_comentario] CHECK CONSTRAINT [FK_turismo_comentario_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_usuario_tipo] FOREIGN KEY([id_usuario_tipo])
REFERENCES [dbo].[usuario_tipo] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_usuario_tipo]
GO
ALTER TABLE [dbo].[usuario_favorito]  WITH CHECK ADD  CONSTRAINT [FK_usuario_favorito_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[usuario_favorito] CHECK CONSTRAINT [FK_usuario_favorito_Usuario]
GO
ALTER TABLE [dbo].[UsuarioAutenticacao]  WITH CHECK ADD  CONSTRAINT [FK_Autenticacao_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[UsuarioAutenticacao] CHECK CONSTRAINT [FK_Autenticacao_Usuario]
GO
ALTER TABLE [dbo].[UsuarioSessao]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioSessao_Usuario] FOREIGN KEY([idusuario])
REFERENCES [dbo].[Usuario] ([idusario])
GO
ALTER TABLE [dbo].[UsuarioSessao] CHECK CONSTRAINT [FK_UsuarioSessao_Usuario]
GO
USE [master]
GO
